body, div, img, form, fieldset, legend, label, blockquote, pre, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

img {
    border: none
}

.centered {
    text-align: center
}

.clearfix {
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.hidden {
    position: absolute;
    left: -100em;
    top: auto;
    width: 0.0625em;
    height: 0.0625em;
    overflow: hidden
}

b, strong, .bold {
    font-weight: bold
}

i, em, .italic {
    font-style: italic
}

.underline {
    text-decoration: underline
}

.strikethrough {
    text-decoration: line-through
}

.error {
    color: #f00;
    font-weight: bold
}

a.external_link {
    background: url(http://expeng.anr.msu.edu/images/sitewide/external-link-icon.png) 100% 50% no-repeat !important;
    display: inline !important;
    padding-right: 15px !important
}

a[href$=".pdf"]:after, a[href$=".PDF"]:after {
    content: " (pdf)"
}

a[href$=".psd"]:after, a[href$=".PSD"]:after {
    content: " (psd)"
}

a[href$=".ai"]:after, a[href$=".AI"]:after {
    content: " (ai)"
}

a[href$=".indd"]:after, a[href$=".INDD"]:after {
    content: " (indd)"
}

a[href$=".swf"]:after, a[href$=".SWF"]:after {
    content: " (swf)"
}

a[href$=".doc"]:after, a[href$=".DOC"]:after {
    content: " (doc)"
}

a[href$=".docx"]:after, a[href$=".DOCX"]:after {
    content: " (docx)"
}

a[href$=".xls"]:after, a[href$=".XLS"]:after {
    content: " (xls)"
}

a[href$=".xlsx"]:after, a[href$=".XLSX"]:after {
    content: " (xlsx)"
}

a[href$=".xlsm"]:after, a[href$=".XLSM"]:after {
    content: " (xlsm)"
}

a[href$=".ppt"]:after, a[href$=".PPT"]:after {
    content: " (ppt)"
}

a[href$=".pps"]:after, a[href$=".PPS"]:after {
    content: " (pps)"
}

a[href$=".pptx"]:after, a[href$=".PPTX"]:after {
    content: " (pptx)"
}

a[href$=".ppsx"]:after, a[href$=".PPSX"]:after {
    content: " (ppsx)"
}

a[href$=".accdb"]:after, a[href$=".ACCDB"]:after {
    content: " (accdb)"
}

a[href$=".mdb"]:after, a[href$=".MDB"]:after {
    content: " (mdb)"
}

a[href$=".pdf"], a[href$=".PDF"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/pdf.png) scroll no-repeat 0 0 transparent;
    color: #d60000 !important;
    padding-left: 18px
}

a[href$=".psd"], a[href$=".PSD"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/psd.png) scroll no-repeat 0 0 transparent;
    color: #004084 !important;
    padding-left: 18px
}

a[href$=".ai"], a[href$=".AI"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/ai.png) scroll no-repeat 0 0 transparent;
    color: #da5b00 !important;
    padding-left: 18px
}

a[href$=".indd"], a[href$=".INDD"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/indd.png) scroll no-repeat 0 0 transparent;
    color: #7d164d !important;
    padding-left: 18px
}

a[href$=".swf"], a[href$=".SWF"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/swf.png) scroll no-repeat 0 0 transparent;
    color: #d60000 !important;
    padding-left: 18px
}

a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/doc.png) scroll no-repeat 0 0 transparent;
    color: #0b3ca7 !important;
    padding-left: 18px
}

a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a[href$=".xlsm"], a[href$=".XLSM"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/xls.png) scroll no-repeat 0 0 transparent;
    color: #185c3b !important;
    padding-left: 18px
}

a[href$=".ppt"], a[href$=".pps"], a[href$=".pptx"], a[href$=".ppsx"], a[href$=".PPT"], a[href$=".PPS"], a[href$=".PPTX"], a[href$=".PPSX"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/ppt.png) scroll no-repeat 0 0 transparent;
    color: #AD5101 !important;
    padding-left: 18px
}

a[href$=".accdb"], a[href$=".mdb"], a[href$=".ACCDB"], a[href$=".MDB"] {
    background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/accdb.png) scroll no-repeat 0 0 transparent;
    color: #a40042 !important;
    padding-left: 18px
}

div.floatbox {
    height: 1%;
    position: relative;
    overflow: auto
}

p#content_link {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0
}

div#cse {
    overflow: hidden
}

div#page .cse .gsc-control-cse, div#page .gsc-control-cse, div#page .cse .gsc-webResult.gsc-result, div#page .gsc-webResult.gsc-result, div#page .gsc-imageResult-column, div#page .gsc-imageResult-classic, div#page .gsc-webResult .gsc-result {
    background: none;
    border: none
}

div#content a.gcsc-branding-clickable, div#content a.gcsc-branding-clickable:hover, div#content a.gs-title, article#content a.gcsc-branding-clickable, article#content a.gcsc-branding-clickable:hover, article#content a.gs-title {
    border: none
}

acronym, abbr {
    cursor: help
}

label[for="gse_query"] {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0
}


/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

meta.foundation-version {
    font-family: "/5.2.3/"
}

meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0em
}

meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 40.063em
}

meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em
}

meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:90.063em)/";
    width: 90.063em
}

meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.063em)/";
    width: 120.063em
}

meta.foundation-data-attribute-namespace {
    font-family: false
}

html, body {
    height: 100%
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    font-size: 100%
}

body {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    position: relative;
    cursor: default
}

a:hover {
    cursor: pointer
}

img {
    max-width: 100%;
    height: auto
}

img {
    -ms-interpolation-mode: bicubic
}

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
    max-width: none !important
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.hide {
    display: none
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img {
    display: inline-block;
    vertical-align: middle
}

textarea {
    height: auto;
    min-height: 50px
}

select {
    width: 100%
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 77.875em
}

.row:before, .row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.row.collapse>.column, .row.collapse>.columns {
    padding-left: 0;
    padding-right: 0
}

.row.collapse .row {
    margin-left: 0;
    margin-right: 0
}

.row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none
}

.row .row:before, .row .row:after {
    content: " ";
    display: table
}

.row .row:after {
    clear: both
}

.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none
}

.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table
}

.row .row.collapse:after {
    clear: both
}

.column, .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left
}

@media only screen {
    .small-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .small-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .small-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .small-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .small-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .small-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .small-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .small-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .small-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .small-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .small-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .small-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .small-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .small-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .small-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .small-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .small-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .small-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .small-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .small-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .small-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .small-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .small-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .small-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left
    }
    .small-1 {
        width: 8.33333%
    }
    .small-2 {
        width: 16.66667%
    }
    .small-3 {
        width: 25%
    }
    .small-4 {
        width: 33.33333%
    }
    .small-5 {
        width: 41.66667%
    }
    .small-6 {
        width: 50%
    }
    .small-7 {
        width: 58.33333%
    }
    .small-8 {
        width: 66.66667%
    }
    .small-9 {
        width: 75%
    }
    .small-10 {
        width: 83.33333%
    }
    .small-11 {
        width: 91.66667%
    }
    .small-12 {
        width: 100%
    }
    [class*="column"]+[class*="column"]:last-child {
        float: right
    }
    [class*="column"]+[class*="column"].end {
        float: left
    }
    .small-offset-0 {
        margin-left: 0% !important
    }
    .small-offset-1 {
        margin-left: 8.33333% !important
    }
    .small-offset-2 {
        margin-left: 16.66667% !important
    }
    .small-offset-3 {
        margin-left: 25% !important
    }
    .small-offset-4 {
        margin-left: 33.33333% !important
    }
    .small-offset-5 {
        margin-left: 41.66667% !important
    }
    .small-offset-6 {
        margin-left: 50% !important
    }
    .small-offset-7 {
        margin-left: 58.33333% !important
    }
    .small-offset-8 {
        margin-left: 66.66667% !important
    }
    .small-offset-9 {
        margin-left: 75% !important
    }
    .small-offset-10 {
        margin-left: 83.33333% !important
    }
    .small-offset-11 {
        margin-left: 91.66667% !important
    }
    .small-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.small-centered, .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.small-uncentered, .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.small-uncentered.opposite, .columns.small-uncentered.opposite {
        float: right
    }
}

@media only screen and (min-width: 40.063em) {
    .medium-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .medium-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .medium-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .medium-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .medium-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .medium-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .medium-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .medium-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .medium-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .medium-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .medium-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .medium-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .medium-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .medium-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .medium-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .medium-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .medium-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .medium-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .medium-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .medium-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .medium-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .medium-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .medium-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left
    }
    .medium-1 {
        width: 8.33333%
    }
    .medium-2 {
        width: 16.66667%
    }
    .medium-3 {
        width: 25%
    }
    .medium-4 {
        width: 33.33333%
    }
    .medium-5 {
        width: 41.66667%
    }
    .medium-6 {
        width: 50%
    }
    .medium-7 {
        width: 58.33333%
    }
    .medium-8 {
        width: 66.66667%
    }
    .medium-9 {
        width: 75%
    }
    .medium-10 {
        width: 83.33333%
    }
    .medium-11 {
        width: 91.66667%
    }
    .medium-12 {
        width: 100%
    }
    [class*="column"]+[class*="column"]:last-child {
        float: right
    }
    [class*="column"]+[class*="column"].end {
        float: left
    }
    .medium-offset-0 {
        margin-left: 0% !important
    }
    .medium-offset-1 {
        margin-left: 8.33333% !important
    }
    .medium-offset-2 {
        margin-left: 16.66667% !important
    }
    .medium-offset-3 {
        margin-left: 25% !important
    }
    .medium-offset-4 {
        margin-left: 33.33333% !important
    }
    .medium-offset-5 {
        margin-left: 41.66667% !important
    }
    .medium-offset-6 {
        margin-left: 50% !important
    }
    .medium-offset-7 {
        margin-left: 58.33333% !important
    }
    .medium-offset-8 {
        margin-left: 66.66667% !important
    }
    .medium-offset-9 {
        margin-left: 75% !important
    }
    .medium-offset-10 {
        margin-left: 83.33333% !important
    }
    .medium-offset-11 {
        margin-left: 91.66667% !important
    }
    .medium-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.medium-centered, .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.medium-uncentered, .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.medium-uncentered.opposite, .columns.medium-uncentered.opposite {
        float: right
    }
    .push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
}

@media only screen and (min-width: 64.063em) {
    .large-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .large-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .large-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .large-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .large-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .large-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .large-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .large-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .large-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .large-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .large-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .large-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .large-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .large-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .large-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .large-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .large-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .large-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .large-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .large-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .large-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .large-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .large-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .large-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left
    }
    .large-1 {
        width: 8.33333%
    }
    .large-2 {
        width: 16.66667%
    }
    .large-3 {
        width: 25%
    }
    .large-4 {
        width: 33.33333%
    }
    .large-5 {
        width: 41.66667%
    }
    .large-6 {
        width: 50%
    }
    .large-7 {
        width: 58.33333%
    }
    .large-8 {
        width: 66.66667%
    }
    .large-9 {
        width: 75%
    }
    .large-10 {
        width: 83.33333%
    }
    .large-11 {
        width: 91.66667%
    }
    .large-12 {
        width: 100%
    }
    [class*="column"]+[class*="column"]:last-child {
        float: right
    }
    [class*="column"]+[class*="column"].end {
        float: left
    }
    .large-offset-0 {
        margin-left: 0% !important
    }
    .large-offset-1 {
        margin-left: 8.33333% !important
    }
    .large-offset-2 {
        margin-left: 16.66667% !important
    }
    .large-offset-3 {
        margin-left: 25% !important
    }
    .large-offset-4 {
        margin-left: 33.33333% !important
    }
    .large-offset-5 {
        margin-left: 41.66667% !important
    }
    .large-offset-6 {
        margin-left: 50% !important
    }
    .large-offset-7 {
        margin-left: 58.33333% !important
    }
    .large-offset-8 {
        margin-left: 66.66667% !important
    }
    .large-offset-9 {
        margin-left: 75% !important
    }
    .large-offset-10 {
        margin-left: 83.33333% !important
    }
    .large-offset-11 {
        margin-left: 91.66667% !important
    }
    .large-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.large-centered, .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.large-uncentered, .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.large-uncentered.opposite, .columns.large-uncentered.opposite {
        float: right
    }
    .push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
}

@media only screen {
    table:before {
        content: 'swipe left to scroll';
        display: block;
        font-style: italic
    }
    table {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        width: 100%
    }
    table td, table th {
        margin: 0;
        padding: .313em;
        text-align: left;
        border: 1px solid #bfbfbf;
        border-collapse: collapse
    }
    table thead {
        display: block;
        float: left
    }
    table thead tr {
        display: block
    }
    table thead th {
        display: block
    }
    table thead:after {
        clear: both;
        content: '';
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0
    }
    table tr {
        display: inline-block
    }
    table tbody {
        white-space: nowrap;
        display: block;
        overflow-x: auto;
        position: relative;
        width: auto
    }
    table tbody tr {
        display: inline-block;
        vertical-align: top;
        margin-right: -.313em
    }
    table tbody td {
        display: block;
        min-height: 1.25em
    }
    div#cse table:before {
        display: none
    }
    div#cse table {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        width: auto
    }
    div#cse table td, div#cse table th {
        padding: .313em;
        text-align: left;
        border: none !important;
        border-collapse: collapse;
        display: table-cell
    }
    div#cse table thead {
        overflow: auto;
        position: relative;
        white-space: normal;
        width: auto;
        float: none;
        display: table-header-group
    }
    div#cse table thead tr {
        display: table-row
    }
    div#cse table thead th {
        display: table-cell
    }
    div#cse table thead:after {
        display: none
    }
    div#cse table tr {
        display: table-row
    }
    div#cse table tbody {
        white-space: normal;
        display: table-row-group;
        overflow: auto;
        position: relative;
        width: auto
    }
    div#cse table tbody tr {
        display: table-row;
        vertical-align: top
    }
    div#cse table tbody td {
        display: table-cell;
        min-height: auto
    }
}

@media only screen and (min-width: 40.063em) {
    table:before {
        display: none
    }
    table {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        width: auto
    }
    table td, table th {
        padding: .313em;
        text-align: left;
        border: 1px solid #000;
        border-collapse: collapse;
        display: table-cell
    }
    table thead {
        overflow: auto;
        position: relative;
        white-space: normal;
        width: auto;
        float: none;
        display: table-header-group
    }
    table thead tr {
        display: table-row
    }
    table thead th {
        display: table-cell
    }
    table thead:after {
        display: none
    }
    table tr {
        display: table-row
    }
    table tbody {
        white-space: normal;
        display: table-row-group;
        overflow: auto;
        position: relative;
        width: auto
    }
    table tbody tr {
        display: table-row;
        vertical-align: top
    }
    table tbody td {
        display: table-cell;
        min-height: auto
    }
}

#networkElement div, #networkElement span, #networkElement h1, #networkElement h2, #networkElement h3, #networkElement h4, #networkElement h5, #networkElement p, #networkElement a, #networkElement address, #networkElement em, #networkElement img, #networkElement ol, #networkElement ul, #networkElement li, #networkElement form, #networkElement input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline
}

#networkElement div {
    box-sizing: content-box !important
}

#networkElement ol, #networkElement ul, #networkElement ul li {
    list-style: none
}

#networkElement input[type=button], #networkElement input[type=submit], #networkElement button {
    cursor: pointer
}

#networkElement h1, #networkElement h2, #networkElement h3, #networkElement h4, #networkElement h5 {
    font: normal 14px Arial, Helvetica, sans-serif;
    text-align: left;
    text-shadow: none;
    text-transform: none;
    background: none;
    float: none
}

#networkElement q:lang(en) {
    quotes: '&#8220;' '&#8221;' '&#8216;' '&#8217;'
}

div#anrElementWrapper {
    background: #575757;
    border-bottom: 1px solid #181818;
    height: 29px;
    overflow: hidden;
    position: relative
}

div#anrElement {
    color: #fff;
    font: normal 14px Arial, Helvetica, sans-serif;
    height: 29px;
    margin: 0 auto;
    position: relative;
    max-width: 86.875em;
    padding: 0 .9375em
}

div#anrElement a {
    color: #fff
}

div#anrElement a#skip {
    color: #CCC;
    float: left;
    font-size: 9px;
    line-height: 1.4;
    margin: 3px 10px 0 0;
    text-transform: uppercase;
    width: 40px
}

div#anrElement a#skip:hover, div#anrElement a#skip:active, div#anrElement a#skip:focus, div#anrElement a#last:hover, div#anrElement a#last:active, div#anrElement a#last:focus {
    color: #fff
}

div#anrElement ul {
    float: left
}

div#anrElement li {
    background: url(http://expeng.anr.msu.edu/anr_bar/images/li-arrow.png) no-repeat 100% 0;
    float: left;
    height: 29px;
    line-height: 1.3;
    padding: 6px 13px 4px;
    text-shadow: -1px -1px 0 #616161
}

div#anrElement li span {
    background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat 0 -52px;
    float: left;
    height: 20px;
    width: 20px
}

div#anrElement li a {
    font-weight: normal;
    background: url(http://expeng.anr.msu.edu/anr_bar/images/drop-arrows.png) no-repeat 100% -3px;
    color: #e9e9e9;
    padding-right: 15px
}

div#anrElement li a:hover, div#anrElement li a.active, div#anrElement li a.focus {
    font-size: inherit;
    background-position: 100% -31px;
    color: #fff
}

div#anrElement li.NElast-child, div#anrElement li.NElast-child a#NElast {
    background: none
}

#networkElement div#NEsearch {
    float: right;
    font-size: 12px;
    padding: 4px 0
}

#networkElement div#NEsearch label {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0
}

#networkElement input[type=text] {
    background: #e3e3e3 url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat 0 -24px;
    height: 22px;
    line-height: 22px;
    padding: 0 5px 0 23px;
    vertical-align: middle;
    width: 108px
}

#networkElement input[type=submit] {
    background: none;
    color: #fff
}

div#ddWrapper {
    margin: 0 auto;
    position: relative;
    max-width: 88.875em;
    z-index: 110
}

div#ddWrapper>div {
    background: #575757 url(http://expeng.anr.msu.edu/anr_bar/images/dd-shadow.png) repeat-x;
    border-left: 1px solid #181818;
    border-right: 1px solid #181818;
    border-bottom: 1px solid #181818;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font: normal 14px/1.2 Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 0 8px 12px 8px;
    position: absolute;
    width: 482px
}

div#ddWrapper a {
    font-weight: normal;
    color: #fff
}

div#ddWrapper a:hover, div#ddWrapper a:active, div#ddWrapper a:focus {
    font-size: inherit;
    text-decoration: underline
}

div#networkElement a.NElink-ext {
    background: url(http://expeng.anr.msu.edu/anr_bar/images/ext-link.png) no-repeat 100% 5px;
    padding-right: 11px
}

#networkElement div.ddTitle {
    background: #bbb url(http://expeng.anr.msu.edu/anr_bar/images/dd-shadow.png) repeat-x;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius: 0 0 5px 5px;
    color: #444;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 12px 10px 10px
}

#networkElement div.ddTitle h2 {
    background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat;
    border-right: 1px solid #898888;
    cursor: pointer;
    float: left;
    height: 22px;
    padding-right: 10px;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 98px
}

#networkElement div.ddTitle h3, #networkElement div.ddTitle h3 a {
    color: #444;
    float: left;
    font-size: 16px;
    line-height: 22px;
    padding-left: 10px;
    text-shadow: 1px 1px 0 #dbdbdb
}

#networkElement div.ddTitle h3 a {
    padding-left: 0
}

#networkElement div.ddContent {
    margin: 4px 10px
}

div#dd-anr {
    left: 7em
}

div#dd-canr, div#dd-msue, div#dd-agbio, div#dd-lmo {
    left: 14.5em
}

div#dd-aai, div#dd-ans, div#dd-ent, div#dd-fshn, div#dd-hrt, div#dd-sop, div#dd-spdc, div#dd-iia, div#dd-afre, div#dd-carrs {
    left: 277px
}

div#dd-tollgate {
    left: 269px
}

div#dd-ipm {
    left: 342px
}

div#dd-lpi, div#dd-pc {
    left: 355px
}

div#dd-csmott {
    left: 365px
}

div#dd-greeen {
    left: 333px
}

div#dd-currentSite {
    left: 278px
}

div#ddWrapper h4 {
    border-bottom: 1px solid #9b9b9b;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 6px 0;
    zoom: 1
}

div#ddWrapper div.NEsublist {
    padding-top: 10px;
    clear: both
}

div#ddWrapper div.NEcol {
    border-left: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    float: left;
    overflow: hidden;
    padding: 0 7px 10px;
    width: 140px;
    height: 237px
}

div#ddWrapper div.NEcol:first-child {
    border-left: none;
    padding-left: 0
}

div#ddWrapper div.NEcol.NElast-child {
    padding-right: 0
}

div#ddWrapper div.NEcol h4 {
    border-bottom: none;
    display: block;
    font-weight: normal;
    width: inherit;
    height: 40px;
    text-align: center
}

div#ddWrapper div.NEcol p, div#ddWrapper div.NEcol a.NEoutgoing {
    color: #e9e9e9;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 4px 0
}

div#ddWrapper div.NEcol a.NEoutgoing {
    color: #fff;
    display: block;
    padding-bottom: 0;
    text-align: right
}

div#ddWrapper li {
    background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat -130px -52px;
    padding-left: 12px;
    margin: 2px 0
}

div#ddWrapper div.MSUEMain {
    float: left;
    width: 230px
}

div#ddWrapper div.MSUEPrograms {
    float: right;
    position: relative;
    width: 200px
}

@media only screen {
    div#networkElement {
        display: none
    }
}

@media only screen and (min-width: 64.063em) {
    div#networkElement {
        display: block
    }
}

@media only screen {
    header {
        background-color: #005a39;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
        background-image: -webkit-linear-gradient(top, #00723f, #005a39);
        background-image: -moz-linear-gradient(top, #00723f, #005a39);
        background-image: -ms-linear-gradient(top, #00723f, #005a39);
        background-image: -o-linear-gradient(top, #00723f, #005a39);
        background-image: linear-gradient(top, #00723f, #005a39);
        filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#00723f', EndColorStr='#005a39');
        color: #fff;
        padding-bottom: 1em;
        -webkit-box-shadow: 0 0.4375em 0.61868em #333;
        -moz-box-shadow: 0 0.4375em 0.61868em #333;
        box-shadow: 0 0.4375em 0.61868em #333;
        position: relative;
        z-index: 10
    }
    header .masthead-row .masthead {
        height: 2.125em;
        margin-top: 1em
    }
    header .masthead-row .masthead a {
        background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-white.svg") no-repeat scroll left center transparent;
        background-size: 100% auto;
        display: block;
        height: 2.125em;
        text-indent: -999em
    }
}

@media only screen and (min-width: 30.4375em) {
    header .masthead-row .masthead a {
        background-size: auto
    }
}

@media only screen and (min-width: 64.063em) {
    header .masthead-row .masthead a {
        display: inline-block;
        width: 50%
    }
}

@media only screen {
    header .title-row {
        padding-top: .75em
    }
    header .title-row h1 {
        margin: 0
    }
    header .title-row h1 a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .6em;
        font-weight: 400
    }
    header .title-row h1 a span {
        display: block;
        font-weight: 900;
        font-size: 1.5em
    }
    header #cse-search-box {
        display: none
    }
}

@media only screen and (min-width: 64.063em) {
    header #cse-search-box {
        display: block
    }
}

@media only screen {
    header.home {
        background-color: #fff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
        background-image: -webkit-linear-gradient(top, #fff, #fff);
        background-image: -moz-linear-gradient(top, #fff, #fff);
        background-image: -ms-linear-gradient(top, #fff, #fff);
        background-image: -o-linear-gradient(top, #fff, #fff);
        background-image: linear-gradient(top, #fff, #fff);
        filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#fff', EndColorStr='#fff');
        background-color: #fff;
        color: #005a39
    }
    header.home .masthead-row div.masthead a {
        background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-green.svg") no-repeat scroll left center transparent;
        background-size: 100% auto
    }
}

@media only screen and (min-width: 30.4375em) {
    header.home .masthead-row div.masthead a {
        background-size: auto
    }
}

@media only screen and (min-width: 64.063em) {
    header.home .masthead-row div.masthead a {
        display: inline-block;
        width: 50%
    }
}

@media only screen {
    header.home .title-row h1 {
        margin: 0
    }
    header.home .title-row h1 a {
        color: #005a39;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .6em;
        font-weight: 400
    }
    header.home .title-row h1 a span {
        display: block;
        font-weight: 900;
        font-size: 1.5em
    }
}

@media only screen and (min-width: 40.063em) {
    .masthead form {
        display: block
    }
    .masthead-row {
        position: relative
    }
    .title-row {
        padding-top: 0
    }
    div#search-medium {
        display: inline
    }
    .masthead form {
        float: right;
        background: none repeat scroll 0 0 #FFFFFF;
        border: .0625em solid #999999;
        -webkit-border-radius: 0.1875em;
        -moz-border-radius: 0.1875em;
        -ms-border-radius: 0.1875em;
        border-radius: 0.1875em;
        height: 1.75em;
        margin-bottom: .75em;
        width: 18.75em;
        overflow: hidden
    }
    .masthead form input[type=text] {
        border: none;
        width: 16em;
        padding-left: .25em;
        margin-top: .1875em;
        color: #000
    }
    .masthead form input[type=submit] {
        background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center #fff;
        border: 0 none;
        -webkit-border-radius: 0 0.1875em 0.1875em 0;
        -moz-border-radius: 0 0.1875em 0.1875em 0;
        -ms-border-radius: 0 0.1875em 0.1875em 0;
        border-radius: 0 0.1875em 0.1875em 0;
        cursor: pointer;
        float: right;
        height: 1.75em;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2.125em
    }
}

@media only screen and (min-width: 40.063em) {
    div.banner-wrap {
        background: url("/includes/banner.jpg") right top no-repeat;
        background-size: 78% auto
    }
}

@media only screen and (min-width: 44.9375em) {
    div.banner-wrap {
        background-size: 66% auto
    }
}

@media only screen and (min-width: 63.064em) {
    div.banner-wrap {
        max-width: 82.125em;
        margin: 0 auto;
        background-color: #005a39;
        background-image: url("/includes/banner.jpg") right top no-repeat;
        background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
        background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -webkit-linear-gradient(top, #00723f, #005a39);
        background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -moz-linear-gradient(top, #00723f, #005a39);
        background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -ms-linear-gradient(top, #00723f, #005a39);
        background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -o-linear-gradient(top, #00723f, #005a39)
    }
}

@media only screen {
    div.banner-text {
        background-color: #005a39;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
        background-image: -webkit-linear-gradient(top, #00723f, #005a39);
        background-image: -moz-linear-gradient(top, #00723f, #005a39);
        background-image: -ms-linear-gradient(top, #00723f, #005a39);
        background-image: -o-linear-gradient(top, #00723f, #005a39);
        background-image: linear-gradient(top, #00723f, #005a39);
        filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#00723f', EndColorStr='#005a39');
        color: #fff;
        padding: 1em .9375em .5em .9375em;
        line-height: 1.5
    }
}

@media only screen and (min-width: 40.063em) {
    div.banner-text {
        -webkit-border-radius: 0 7em 7em 0;
        -moz-border-radius: 0 7em 7em 0;
        -ms-border-radius: 0 7em 7em 0;
        border-radius: 0 7em 7em 0;
        padding-right: 5em
    }
}

@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    div.banner-text {
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        -ms-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
        padding-right: .9375em;
        min-height: 15.25em
    }
}

@media only screen {
    div#nav-medium {
        display: none
    }
}

@media only screen and (min-width: 64.063em) {
    div#nav-medium {
        display: block;
        margin: 1em 0;
        padding-right: 0
    }
    div#nav-medium ul {
        list-style: none;
        margin: 0;
        padding: 0
    }
    div#nav-medium ul li.level_1 a {
        display: block;
        padding: 1em .5em;
        margin: 0;
        text-decoration: none;
        color: #000
    }
    div#nav-medium ul li.level_1>ul {
        background-color: rgba(0, 90, 57, 0.1);
        display: block
    }
    div#nav-medium ul li.level_1>ul li.level_2>a {
        text-decoration: none
    }
    div#nav-medium ul li.level_1>ul li.level_2.here>a, div#nav-medium ul li.level_1>ul li.level_2 a:hover, div#nav-medium ul li.level_1>ul li.level_2 a:focus {
        text-decoration: underline
    }
    div#nav-medium ul li.level_1>ul li.level_2 ul {
        padding-left: 2em;
        list-style: disc
    }
    div#nav-medium ul li.level_1>ul li.level_2 ul li.level_3.here>a {
        text-decoration: underline
    }
    div#nav-medium ul li.level_1.here>a, div#nav-medium ul li.level_1>a:hover, div#nav-medium ul li.level_1>a:focus {
        background-color: #005a39;
        color: #fff;
        text-decoration: underline;
        font-weight: 700
    }
    div#nav-medium ul li.level_1.parent_here>a {
        background-color: #005a39;
        color: #fff;
        font-weight: 700;
        text-decoration: none
    }
}

@media only screen {
    .msu-wordmark-icon {
        max-height: 3.9375em;
        width: 100%
    }
    #msu-wordmark-icon path, #msu-wordmark-icon rect {
        fill: #fff;
        color: #fff
    }
    footer {
        text-align: center;
        padding: 1em 0;
        background-color: #3f474d;
        color: #fff
    }
    footer .row {
        position: relative
    }
    footer ul {
        margin: 0;
        padding: 0;
        line-height: 1.5
    }
    footer li {
        display: inline-block;
        border-left: 1px #fff dotted;
        padding: 0 .25em 0 .5em
    }
    footer li:first-child {
        border-left: none
    }
    footer li a {
        text-decoration: none;
        color: #fff
    }
    footer li a:hover, footer li a:focus {
        text-decoration: underline
    }
    #standard-footer-site-links {
        font-size: .8125em;
        border-bottom: 1px dotted #fff;
        margin-bottom: .65em;
        padding-bottom: .65em
    }
    #standard-footer-MSU-info {
        font-size: .625em
    }
    #standard-footer-MSU-info .spartans-will {
        text-transform: uppercase;
        font-weight: 700
    }
    p.timestamp {
        font-size: .8125em
    }
}

@media only screen and (min-width: 40.063em) {
    div.footer-text.medium-9.columns {
        float: right !important
    }
    footer {
        text-align: left
    }
    p.timestamp {
        float: right
    }
}

@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    p.timestamp {
        margin-top: -1em
    }
}

@media only screen {
    #outer-wrap.home #menu-search-icon path, #outer-wrap.home #menu-search-icon rect {
        fill: #005a39;
        color: #005a39
    }
    #outer-wrap.home #menu-search-icon path.glass {
        fill: rgba(255, 255, 255, 0) !important;
        color: rgba(255, 255, 255, 0) !important;
        stroke: #005a39 !important
    }
    #outer-wrap #menu-search-icon path, #outer-wrap #menu-search-icon rect {
        fill: #fff
    }
    #outer-wrap #menu-search-icon path.glass {
        fill: #005a39 !important;
        color: #005a39 !important;
        stroke: #fff !important
    }
    p#nav-button {
        margin: 0
    }
    p#nav-button a {
        display: block;
        height: 2.5em;
        width: 4.6875em;
        position: absolute;
        top: 0;
        right: .5em
    }
    p#nav-button a svg {
        height: 2.5em;
        width: 4.6875em;
        margin-top: .75em
    }
    html.no-svg p#nav-button a {
        background: url("/includes/images/menu.png") no-repeat 0 0 transparent;
        background-size: 100% auto;
        display: block;
        height: 3.625em;
        overflow: hidden;
        position: absolute;
        right: -0.9375em;
        text-indent: 9999em;
        top: -0.5em;
        width: 4em
    }
    html.no-svg nav#mobile-nav p.close {
        text-align: right;
        text-transform: uppercase
    }
    html.no-svg nav#mobile-nav p.close a {
        background-size: 1.25em 1.25em;
        padding-left: 1.875em;
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/208aa3ac-43d3-4a37-9e61-eb753fe3637b/fileAsset?byInode=true") no-repeat scroll left center transparent
    }
    nav#mobile-nav p.close {
        margin: 0
    }
    nav#mobile-nav p.close a {
        display: block;
        overflow: hidden;
        margin: 0;
        text-align: right
    }
    nav#mobile-nav p.close a .close-icon {
        height: 1em;
        width: 1em
    }
    #close-icon path {
        fill: #fff;
        color: #fff
    }
    nav#mobile-nav {
        width: 0;
        display: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #E08D8E;
        z-index: 10;
        transition: width 0.3s ease
    }
    nav#mobile-nav .title-mobile {
        font-size: 1.6em;
        line-height: 1;
        font-weight: bold;
        border-top: 4px double #fff;
        border-bottom: 1px solid #fff;
        padding: .75em .9375em;
        margin: .5em -.9375em 1em
    }
    nav#mobile-nav a {
        text-decoration: none;
        color: #fff
    }
    nav#mobile-nav a:hover, nav#mobile-nav a:focus {
        text-decoration: underline
    }
    nav#mobile-nav {
        background-color: #282829;
        color: #fff
    }
    nav#mobile-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1.3
    }
    nav#mobile-nav ul#nav-menu-mobile {
        margin: 1em -.9375em
    }
    nav#mobile-nav li {
        border-top: .063em solid #fff
    }
    nav#mobile-nav li:first-child {
        border-top: none
    }
    nav#mobile-nav li a {
        display: block;
        padding: 1em .9375em 1em .5em;
        margin: 0;
        text-decoration: none
    }
    nav#mobile-nav li.parent>a {
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/2c71e2bb-4eba-47e4-b4fe-0b87b5f853cd/fileAsset") right center no-repeat;
        background-size: .75em .75em
    }
    #plus-icon rect, #minus-icon rect {
        fill: #fff
    }
    nav#mobile-nav li.parent ul {
        display: none
    }
    nav#mobile-nav li.active.parent>ul {
        display: block
    }
    nav#mobile-nav li.active>a, nav#mobile-nav li a:focus, nav#mobile-nav li a:hover {
        text-decoration: underline
    }
    nav#mobile-nav li.active.parent>a {
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/56dbe40f-a1c8-49e4-8db7-01647101cac6/fileAsset") right center no-repeat;
        background-size: .75em .75em
    }
    nav#mobile-nav ul ul {
        border-top: 0.063em solid #000
    }
    nav#mobile-nav ul ul {
        border-top: 0.063em solid #000
    }
    nav#mobile-nav li.level_1:first-child {
        border-top: 1px solid #fff
    }
    nav#mobile-nav li.level_1 a {
        padding-left: 1em;
        margin-right: .9375em
    }
    nav#mobile-nav li.level_2 {
        background-color: #404041;
        border-top: 1px dotted #fff
    }
    nav#mobile-nav li.level_2:first-child {
        border-top: none
    }
    nav#mobile-nav li.level_2 a {
        border-left: 6px solid #6d6e70
    }
    nav#mobile-nav li.level_3 {
        border-top: 1px dotted #000;
        background-color: #e6e7e8
    }
    nav#mobile-nav li.level_3:first-child {
        border-top: none
    }
    nav#mobile-nav li.level_3 a {
        color: #000;
        border-left: 6px solid #a7a9ab;
        text-decoration: none;
        background-size: .75em .75em
    }
    nav#mobile-nav li.level_3 a:hover, nav#mobile-nav li.level_3 a:focus, nav#mobile-nav li.level_3.active a {
        text-decoration: underline
    }
    nav#mobile-nav:target {
        display: block;
        transition: display 0.3s ease;
        transition: width 0.3s ease;
        width: 15em;
        padding: 1em;
        overflow-y: visible;
        z-index: 500
    }
    nav#mobile-nav form {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #999999;
        border-radius: 3px;
        height: 28px;
        margin-bottom: 12px;
        width: 13em;
        overflow: hidden
    }
    nav#mobile-nav form input[type=text] {
        border: none;
        width: 10.5em;
        padding-left: .25em;
        margin-top: .125em;
        color: #000
    }
    nav#mobile-nav form input[type=submit] {
        background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center #fff;
        border: 0 none;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        float: right;
        height: 28px;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2em
    }
    nav#mobile-nav form input[type=submit]:hover, nav#mobile-nav form input[type=submit]:focus {
        box-shadow: inset 0 0px 60px rgba(0, 0, 0, 0.3)
    }
    html.no-svg nav#mobile-nav form input[type=submit] {
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/6e013273-ffe3-48af-b856-dc4d45e81596/fileAsset?byInode=true") no-repeat scroll center center #fff
    }
    nav#mobile-nav:target+#wrap {
        position: fixed;
        left: -15em;
        overflow-x: hidden;
        overflow-y: visible
    }
    nav#mobile-nav:target~a#nav-button.nav-button {
        position: absolute;
        top: -500em !important
    }
    nav#mobile-nav:target+#dark-cover {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.7)
    }
    nav#mobile-nav:target+#dark-cover+#outer-wrap {
        overflow: hidden
    }
}

@media only screen and (min-width: 64.063em) {
    p#nav-button, #dark-cover, nav#mobile-nav, ul#mobile-nav {
        display: none !important
    }
}

svg {
    margin: 0
}

svg text {
    visibility: hidden;
    height: 0;
    width: 0
}

@media only screen {
    body.mceContentBody {
        background: #fff none !important;
        text-align: left;
        overflow: auto;
        font-size: 16px;
        cursor: text
    }
    h2.landmark {
        position: absolute;
        top: -3333em;
        left: -3333em
    }
    body {
        font-family: "proxima-nova", sans-serif;
        color: #5c5c5c;
        line-height: 1;
        cursor: initial
    }
    h2 {
        font-size: 1.9238541859054em;
        font-family: "merriweather", serif;
        font-weight: 900;
        color: #005a39;
        margin: .45em 0
    }
    h3 {
        font-size: 1.8402083517355998em;
        font-weight: 700;
        font-family: "proxima-nova", sans-serif;
        margin: .5em 0
    }
    h4 {
        font-size: 1.5056250150564em;
        font-weight: 700;
        font-family: "museo-sans", sans-serif;
        margin: .593em 0;
        color: #005a39
    }
    h5 {
        font-size: 1.3383333467168em;
        font-weight: 800;
        font-family: "proxima-nova", sans-serif;
        margin: .66em 0
    }
    h6 {
        color: #005a39;
        font-family: "museo-sans", sans-serif;
        font-size: 1.1710416783772em;
        font-weight: 700;
        margin: .721em 0
    }
    div.video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0
    }
    div.video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none
    }
    #outer-wrap {
        width: 100%;
        height: 100%;
        float: left
    }
}

@media only screen and (min-width: 64.063em) {
    div.page-wrap {
        background: #fff url("http://expeng.anr.msu.edu/images/sitewide/departments/page-bg.png") repeat-y 25.66406% 0;
        max-width: 80em;
        margin: 0 auto
    }
}

@media only screen and (min-width: 64.063em) {
    div.fade {
        background: url("http://expeng.anr.msu.edu/images/sitewide/departments/fade.png") top left repeat-y
    }
}

@media only screen {
    header.home~article#content {
        margin-top: 0
    }
    article#content {
        margin-top: 1em;
        margin-bottom: 7.125em
    }
    article#content p {
        margin: 1em 0;
        line-height: 1.4;
        font-size: 1.0037500100376em
    }
    article#content li {
        margin: .5em 0;
        line-height: 1.4;
        font-size: 1.0037500100376em
    }
    article#content blockquote {
        margin: 1em;
        line-height: 1.4;
        font-size: 1.0037500100376em
    }
    article#content a {
        color: #005a39
    }
    article#content a:hover, article#content a:focus {
        text-decoration: none
    }
    ul.paginate {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center
    }
    ul.paginate li {
        display: inline-block;
        padding: .5em 1em
    }
    ul.paginate li:first-child {
        padding-left: 0
    }
    ul.paginate li:last-child {
        padding-right: 0
    }
    .right {
        float: right;
        margin: 1em 0 1em 1em
    }
    .left {
        float: left;
        margin: 1em 1em 1em 0
    }
    p.button {
        width: 90%
    }
    p.button a, p.button a.external_link {
        display: block !important;
        color: #005a39 !important;
        background-color: #fff !important;
        border: 1px solid #828282 !important;
        -webkit-border-radius: 0.375em;
        -moz-border-radius: 0.375em;
        -ms-border-radius: 0.375em;
        border-radius: 0.375em;
        text-align: center !important;
        padding: .5em 0 !important;
        font-weight: 900 !important;
        text-transform: uppercase !important;
        text-decoration: none !important;
        margin: .5em 0 !important;
        background-image: none !important;
        letter-spacing: .0625em
    }
    p.button a:hover, p.button a:focus, p.button a.external_link:hover, p.button a.external_link:focus {
        text-decoration: underline !important
    }
    p.button.green a, p.button.green a.external_link {
        color: #fff !important;
        background-color: #005a39 !important;
        background-color: #005a39 !important;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f !important), to(#005a39 !important));
        background-image: -webkit-linear-gradient(top, #00723f !important, #005a39 !important);
        background-image: -moz-linear-gradient(top, #00723f !important, #005a39 !important);
        background-image: -ms-linear-gradient(top, #00723f !important, #005a39 !important);
        background-image: -o-linear-gradient(top, #00723f !important, #005a39 !important);
        background-image: linear-gradient(top, #00723f !important, #005a39 !important);
        filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#00723f !important', EndColorStr='#005a39 !important')
    }
    div.row.home-majors {
        margin: 1em -.9375em
    }
}

@media only screen and (min-width: 40.063em) {
    div.row.home-majors div {
        border-top: 30px #005a39 solid
    }
}

@media only screen {
    div.row.home-majors div h3 {
        background-color: #005a39;
        color: #fff;
        padding: 0.3em 1em;
        margin-left: -.9375em;
        font-size: 1.125em;
        -webkit-border-radius: 0 1.1875em 1.1875em 0;
        -moz-border-radius: 0 1.1875em 1.1875em 0;
        -ms-border-radius: 0 1.1875em 1.1875em 0;
        border-radius: 0 1.1875em 1.1875em 0
    }
}

@media only screen and (min-width: 40.063em) {
    div.row.home-majors div h3 {
        border-top: .25em solid #fff;
        border-right: .25em solid #fff;
        border-bottom: .25em solid #fff;
        border-left: none;
        margin-top: -34px;
        height: 38px
    }
}

@media only screen {
    div.row.home-majors div ul {
        padding: 0;
        list-style: none
    }
}

@media only screen and (min-width: 40.063em) {
    div.row.home-majors div:nth-child(1) h3 {
        padding-left: 0;
        margin-left: 0
    }
}

@media only screen {
    div.row.home-majors div:nth-child(3) {
        border-top: 30px #fff solid
    }
    ul#social {
        list-style: none;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: -8em;
        left: 0
    }
}

@media only screen and (min-width: 64.063em) {
    ul#social {
        left: 26%
    }
}

@media only screen {
    ul#social li a {
        display: block;
        width: 3.125em;
        height: 6.5em;
        text-indent: -999em
    }
    ul#social li.dairy-store a {
        background: url("/images/dairystore.png") no-repeat center center;
        width: 9.25em;
        height: 6.5em;
        background-size: 9.25em 6.5em
    }
    ul#social li.youtube a {
        background: url("http://expeng.anr.msu.edu/images/sitewide/departments/youtube.png") no-repeat center center;
        background-size: 3.125em 3.125em
    }
    ul#social li.twitter a {
        background: url("http://expeng.anr.msu.edu/images/sitewide/departments/twitter.png") no-repeat center center;
        background-size: 3.125em 3.125em
    }
    ul#social li.flickr a {
        background: url("http://expeng.anr.msu.edu/images/sitewide/departments/flickr.png") no-repeat center center;
        background-size: 3.125em 3.125em
    }
    ul#social li.facebook a {
        background: url("http://expeng.anr.msu.edu/images/sitewide/departments/facebook.png") no-repeat center center;
        background-size: 3.125em 3.125em
    }
    ul#social li.rss a {
        background: url("http://expeng.anr.msu.edu/images/sitewide/departments/rss.png") no-repeat center center;
        background-size: 3.125em 3.125em
    }
    ul#social li.linkedin a {
        background: url("http://expeng.anr.msu.edu/images/sitewide/departments/linkedin.png") no-repeat center center;
        background-size: 3.125em 3.125em
    }
    ul.news, ul.news-list {
        padding: 0;
        list-style: none
    }
    ul.news li.news-item, ul.news-list li.news-item {
        overflow: auto
    }
}

@media only screen and (min-width: 30em) {
    ul.news li.news-item img.news-thumb, ul.news-list li.news-item img.news-thumb {
        float: right;
        margin: 0 0 1em 1em;
        max-width: 10em
    }
}

@media only screen {
    ul.news li.news-item h3, ul.news-list li.news-item h3 {
        margin-bottom: 0;
        font-size: 1.5em
    }
    ul.news li.news-item p.news-date, ul.news-list li.news-item p.news-date {
        font-size: .9375em;
        margin-top: 0 !important
    }
    a.in-article-img img {
        min-width: 100%;
        margin-bottom: .75em
    }
}

@media only screen and (min-width: 40.063em) {
    a.in-article-img {
        display: block;
        float: right;
        margin: 0 0 1em 1em;
        max-width: 21.875em
    }
}

@media only screen {
    ul.events, ul.events-list {
        padding: 0;
        list-style: none
    }
    ul.events li.event-item h3, ul.events li.events-item h3, ul.events-list li.event-item h3, ul.events-list li.events-item h3 {
        font-size: 1.5em
    }
    ul.programs-list {
        padding: 0;
        list-style: none
    }
    ul.programs-list li.program-item h3 {
        font-size: 1.5em
    }
    ul.course-list {
        padding: 0;
        list-style: none
    }
    ul.course-list li.course-item h3 {
        font-size: 1.5em
    }
    ul.course-list li.course-item p.course-date {
        font-size: .9375em;
        margin-top: 0 !important
    }
    img.faculty-full {
        float: none
    }
}

@media only screen and (min-width: 40.063em) {
    img.faculty-full {
        float: left;
        margin: 0 1em 1em 0
    }
}

@media only screen and (min-width: 40.063em) {
    div.faculty-info {
        overflow: auto
    }
    div.faculty-info img.faculty-full {
        float: left;
        margin: 0 1em 0 0
    }
}

@media only screen {
    ul.directory-label {
        padding: 0;
        background-color: #005a39;
        -webkit-border-radius: 0 1.1875em 1.1875em 0;
        -moz-border-radius: 0 1.1875em 1.1875em 0;
        -ms-border-radius: 0 1.1875em 1.1875em 0;
        border-radius: 0 1.1875em 1.1875em 0;
        list-style: none;
        overflow: auto;
        display: none
    }
}

@media only screen and (min-width: 40.063em) {
    ul.directory-label {
        display: block
    }
}

@media only screen {
    ul.directory-label li {
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 700;
        color: #fff
    }
}

@media only screen and (min-width: 40.063em) {
    ul.directory-label li {
        width: 50%
    }
}

@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.directory-label li {
        width: 33.3%
    }
}

@media only screen and (min-width: 64.063em) {
    ul.directory-label li span {
        display: none
    }
}

@media only screen and (min-width: 40.063em) {
    ul.directory-label li:last-child {
        display: none
    }
}

@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.directory-label li:last-child {
        display: block
    }
}

@media only screen {
    ul.faculty {
        padding: 0;
        list-style: none;
        font-size: 1.25em;
        font-family: museo-sans-condensed
    }
    ul.faculty li.faculty-person {
        padding: 0;
        overflow: auto
    }
    ul.faculty li.faculty-person img.faculty-thumb {
        float: left;
        margin: 0 1em 1em 0
    }
}

@media only screen and (min-width: 40.063em) {
    ul.faculty li.faculty-person img.faculty-thumb {
        margin: 0 1em 0 0
    }
}

@media only screen and (min-width: 40.063em) {
    ul.faculty li.faculty-person p {
        float: left;
        width: 49%
    }
}

@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.faculty li.faculty-person p {
        width: 66.6%
    }
}

@media only screen {
    ul.faculty li.faculty-person p span.phone, ul.faculty li.faculty-person p span.email {
        display: block
    }
}

@media only screen and (min-width: 40.063em) {
    ul.faculty li.faculty-person p span.phone, ul.faculty li.faculty-person p span.email {
        text-align: center
    }
}

@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.faculty li.faculty-person p span.phone, ul.faculty li.faculty-person p span.email {
        width: 50%;
        float: left;
        display: inline-block
    }
}

@media only screen and (min-width: 64.063em) {
    ul.faculty li.faculty-person p.name {
        width: 33.3%
    }
}

@media only screen {
    ul.faculty li.faculty-person p.name a {
        font-size: 1.5em
    }
    ul.faculty li.faculty-person:nth-child(even) {
        background-color: #e6f7ed
    }
}

@media print {
    div#networkElement, header, #mobile-nav, .top-links, #nav-button, #search-medium, #nav-wrap, .banner-home, div.banner-wrap, .featured-home, div#nav-medium, #social, footer, #standard-footer-site-links {
        display: none
    }
    .content a {
        color: #186B9B
    }
    a:after {
        content: " (" attr(href) ")";
        font-size: 80%
    }
    ul.products {
        list-style: none
    }
    ul.products li {
        overflow: auto
    }
    ul.products img {
        float: left;
        margin: 0 .5em .5em 0
    }
    footer {
        text-align: center
    }
    footer ul {
        list-style: none;
        overflow: auto;
        margin-bottom: 1em
    }
    footer li {
        float: left;
        margin-left: 1em
    }
    footer li:first-child {
        margin-left: 0
    }
}