div.msue-newsfeed a.rsslink {
	background: url('http://expeng.anr.msu.edu/images/sitewide/rss.png') no-repeat;
    	color: #B05800;
    	font-weight: normal;
    	padding: 3px 0 0 20px;
}

div.msue-newsfeed a.emaillink {
	background: url('http://support.anr.msu.edu/images/sitewide/email.png') no-repeat;
    	font-weight: normal;
    	padding: 3px 0 0 20px;
}

div.msue-newsfeed a.rss-positioned {
	float: right;
   	margin: 15px 0 8px;
    	padding-top: 1px;
}

div.msue-newsfeed ul.msue-newsfeed {
	list-style: outside none;
	padding: 0;
}

div.msue-newsfeed li.news-item h3 {
	padding: 0;
}

div.msue-newsfeed .news-item p.subtitle {
	padding: 2px 0;
	margin: 2px 0;
}

div.msue-newsfeed .news-item p.news-date {
	color: #666;
	padding: 0 0 6px;
	margin: 2px 0;
}

div.msue-newsfeed .more-news {
	color: #007236;
	font-weight: bold;
}