/* Newsslider */

div#newsslider-container {
	position: relative;
}

div#newsslider-container a {
	border: none;
}

ul#ns-controls {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	position: absolute;
	bottom: 0.15em; right: 0.5em;
	z-index: 50;
}

ul#ns-controls li {
	float: left;
	margin: 0 0.06em;
}

ul#ns-controls img {
	padding: 0.15em 0;
}

.not-banner-one {
	display: none !important;
}
.show-banner {
	display: block !important;
}

p.ns-caption,
div#content p.ns-caption {
    	background-color: #000;
    	color: #fff;
    	font-size: 18px;
    	margin-top: -38px;
    	opacity: 0.8;
	overflow: hidden;
    	padding: 5px 5px 5px 10px;
    	position: relative;
}
p.ns-caption a,
div#content p.ns-caption a {
	color: #fff;
	text-decoration: none;
}

p.ns-caption a span,
div#content p.ns-caption a span { 
	font-size: 11px;
	text-decoration: underline;
	text-transform: uppercase;
	vertical-align: middle;
}