@charset "utf-8";

/* sitewide formatting */
body, div, img, form, fieldset, legend, label, blockquote, pre, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
img { border: none; }

/* positioning */
.centered { text-align: center; }
.clearfix { clear: both; }
.left { float: left; }
.right { float: right; }
.hidden { position: absolute; left: -100em; top: auto; width: 0.0625em; height: 0.0625em; overflow:hidden; }

/* text styles */
b, strong, .bold { font-weight: bold; }
i, em, .italic { font-style: italic; }
.underline { text-decoration: underline; }
.strikethrough { text-decoration: line-through; }
.error { color: #f00; font-weight: bold; }

/* external link */
a.external_link {
	/* /images/sitewide/external-link-icon.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/0fdc6714-9211-4978-afa4-d2e237d65f8e/fileAsset?byInode=true) 100% 50% no-repeat !important;
	display: inline !important;
	padding-right: 15px !important;
}

/* text after document links */
a[href$=".pdf"]:after, a[href$=".PDF"]:after { content: " (pdf)"; }
a[href$=".psd"]:after, a[href$=".PSD"]:after { content: " (psd)"; }
a[href$=".ai"]:after, a[href$=".AI"]:after { content: " (ai)"; }
a[href$=".indd"]:after, a[href$=".INDD"]:after { content: " (indd)"; }
a[href$=".swf"]:after, a[href$=".SWF"]:after { content: " (swf)"; }
a[href$=".doc"]:after, a[href$=".DOC"]:after { content: " (doc)"; }
a[href$=".docx"]:after, a[href$=".DOCX"]:after { content: " (docx)"; }
a[href$=".xls"]:after, a[href$=".XLS"]:after { content: " (xls)"; }
a[href$=".xlsx"]:after,a[href$=".XLSX"]:after { content: " (xlsx)"; }
a[href$=".xlsm"]:after,a[href$=".XLSM"]:after { content: " (xlsm)"; }
a[href$=".ppt"]:after, a[href$=".PPT"]:after { content: " (ppt)"; }
a[href$=".pps"]:after, a[href$=".PPS"]:after { content: " (pps)"; }
a[href$=".pptx"]:after, a[href$=".PPTX"]:after { content: " (pptx)"; }
a[href$=".ppsx"]:after, a[href$=".PPSX"]:after { content: " (ppsx)"; }
a[href$=".accdb"]:after, a[href$=".ACCDB"]:after { content: " (accdb)"; }
a[href$=".mdb"]:after, a[href$=".MDB"]:after { content: " (mdb)"; }

/* document link styles */
a[href$=".pdf"], a[href$=".PDF"] { 
	/* /images/sitewide/file_extensions/pdf.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/762c1b39-0458-49c3-b0dd-3e9d76834d4d/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #d60000 !important; 
	padding-left: 18px !important;
}
a[href$=".psd"], a[href$=".PSD"] { 
	/* /images/sitewide/file_extensions/psd.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/0feb7ed6-a34d-418e-93bd-350dc8b1be9e/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #004084 !important; 
	padding-left: 18px !important;
}
a[href$=".ai"], a[href$=".AI"] { 
	/* /images/sitewide/file_extensions/ai.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/10dc186b-9f8a-4f71-9e24-5ec8da7f9df3/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #da5b00 !important; 
	padding-left: 18px !important;
}
a[href$=".indd"], a[href$=".INDD"] { 
	/* /images/sitewide/file_extensions/indd.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/2e479709-9798-4594-8810-f9984e8797ae/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #7d164d !important; 
	padding-left: 18px !important;
}
a[href$=".swf"], a[href$=".SWF"] { 
	/* /images/sitewide/file_extensions/swf.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/f6123550-5119-431a-b31b-b490c7fb7135/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #d60000 !important; 
	padding-left: 18px !important;
}
a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"] { 
	/* /images/sitewide/file_extensions/doc.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/e3cbcde6-8420-42d4-b07a-609ec715aec4/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #0b3ca7 !important; 
	padding-left: 18px !important;
}
a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a[href$=".xlsm"], a[href$=".XLSM"] { 
	/* /images/sitewide/file_extensions/xls.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/50d2945d-7756-45b3-98bf-3d23d0c40e85/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #185c3b !important; 
	padding-left: 18px !important;
}
a[href$=".ppt"], a[href$=".pps"], a[href$=".pptx"], a[href$=".ppsx"],
a[href$=".PPT"], a[href$=".PPS"], a[href$=".PPTX"], a[href$=".PPSX"] { 
	/* /images/sitewide/file_extensions/ppt.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/08a02c54-6e7e-4271-80b4-acb0b97dd4b9/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #AD5101 !important; 
	padding-left: 18px !important;
}
a[href$=".accdb"], a[href$=".mdb"],
a[href$=".ACCDB"], a[href$=".MDB"] { 
	/* /images/sitewide/file_extensions/accdb.png */
	background: url(http://www.anr.msu.edu/contentAsset/raw-data/6b810c1a-7f0a-4e66-85c1-1cd697457f9b/fileAsset?byInode=true) scroll no-repeat 0 0 transparent !important;
	color: #a40042 !important;
	padding-left: 18px !important;
}

/* float container */
div.floatbox {
	height: 1%;
	position: relative;
	overflow: auto;
}

/* specific elements */

p#content_link { margin: 0; padding: 0; position: absolute; top: 0; left: 0; }

div#cse { overflow: hidden; }

div#page .cse .gsc-control-cse, 
div#page .gsc-control-cse,
div#page .cse .gsc-webResult.gsc-result, 
div#page .gsc-webResult.gsc-result, 
div#page .gsc-imageResult-column, 
div#page .gsc-imageResult-classic,
div#page .gsc-webResult .gsc-result { background: none; border: none; }
div#content a.gcsc-branding-clickable,
div#content a.gcsc-branding-clickable:hover,
div#content a.gs-title { border: none; }

acronym, abbr { cursor: help }

label[for="gse_query"] {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
}