/* mobile tables */
@media only screen {
	table:before {
		content:'swipe left to scroll';
		display:block;
		font-style:italic;
	}
    
	table {
		position:relative;
		border-collapse:collapse;
		border-spacing:0;
		display:block;
		width:100%;
	}
	table td, 
	table th { 
		margin:0; 
		padding:.313em; 
		text-align:left; 
		border:1px solid #bfbfbf; 
		border-collapse:collapse; 
	}
	table thead {
		display:block;
		float:left;
	}
	table thead tr {
		display:block;
	}
	table thead th {
		display:block;
	}
	table thead:after {
		clear:both;
		content:'';
		display:block;
		visibility:hidden;
		height:0;
		font-size:0;
	}
	table tr { 
		display:inline-block; 
	}
	table tbody { 
		white-space:nowrap;
		display:block;
		overflow-x:auto;
		position:relative;
		width:auto;
		
	}
	table tbody tr {
		display:inline-block;
		vertical-align:top;
		margin-right:-.313em;
	}
	table tbody td {
		display:block;
		min-height:1.25em;
	}
    
    /*removes for search results*/
    div#cse table:before {
		display:none;
	}
	div#cse table {
		position:relative;
		border-collapse:collapse;
		border-spacing:0;
		display:table;
		width:auto;
	}
	div#cse table td, div#cse table th { 
		padding:.313em; 
		text-align:left; 
		border:none !important; 
		border-collapse:collapse; 
		display:table-cell; 
	}
	div#cse table thead {
		overflow: auto;
		position: relative;
		white-space: normal;
		width: auto;
		float:none;
		display:table-header-group;
	}
	div#cse table thead tr {
		display:table-row;
	}
	div#cse table thead th {
		display:table-cell;
	}
	div#cse table thead:after {
		display:none;
	}
	div#cse table tr { 
		display:table-row; 
	}
	div#cse table tbody { 
		white-space:normal;
		display:table-row-group;
		overflow:auto;
		position:relative;
		width:auto;
	}
	div#cse table tbody tr {
		display:table-row;
		vertical-align:top;
	}
	div#cse table tbody td {
		display:table-cell;
		min-height:auto;
	}
}

/* tablet and desktop */
@media only screen and (min-width: 40.063em) {
	table:before {
		display:none;
	}
	table {
		position:relative;
		border-collapse:collapse;
		border-spacing:0;
		display:table;
		width:auto;
	}
	table td, table th { 
		padding:.313em; 
		text-align:left; 
		border:1px solid #000; 
		border-collapse:collapse; 
		display:table-cell; 
	}
	table thead {
		overflow: auto;
		position: relative;
		white-space: normal;
		width: auto;
		float:none;
		display:table-header-group;
	}
	table thead tr {
		display:table-row;
	}
	table thead th {
		display:table-cell;
	}
	table thead:after {
		display:none;
	}
	table tr { 
		display:table-row; 
	}
	table tbody { 
		white-space:normal;
		display:table-row-group;
		overflow:auto;
		position:relative;
		width:auto;
	}
	table tbody tr {
		display:table-row;
		vertical-align:top;
	}
	table tbody td {
		display:table-cell;
		min-height:auto;
	}
}