@media only screen{
    div#banner{
        div.owl-item{
            position:relative;
            div.text{
                position: absolute;
                top: 0;
                left: 0;
                margin: 1em;
                padding: 1em;
                background-color: #000;
                color: #fff;
                a{
                    color: #fff;
                }
            }
            img.lazyOwl{
                
            }
        }
    }
}
/*
for old banner setup
@media only screen {
    div#ns-container{
        display: none;
    }
}
@media only screen and (min-width: 40.063em) {
h2.banner-title {
	color:#fff;
    font-size: 1.5em;
	text-transform:uppercase;
	margin-top:1.125em;
}
div#ns-container {
	overflow: visible;
	position: relative;
    display: block;
}
img.newsslider-img {
	overflow: visible;
/*	position: relative; 
}
ul#ns-news { 	/* ID specificity overrides the .content class styles 
	overflow: visible;
	position: relative;
	padding: 0;
	list-style: none outside none;
	margin:0;
}

ul#ns-controls {
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	position: absolute;
	bottom: 2.5em; 
	right: 1em;
	z-index: 50;
}

ul#ns-controls li {
	cursor: pointer;
	float: left;
	height: 25px;
	margin: 0 1px;
	padding: 0;
	text-indent: -9999px;
	text-transform: capitalize;
	width: 25px;
}

ul#ns-controls li#ns-prev { background: url(http://expeng.anr.msu.edu/images/sitewide/newsslider/ns-prev.png) no-repeat; }
ul#ns-controls li#ns-play { background: url(http://expeng.anr.msu.edu/images/sitewide/newsslider/ns-play.png) no-repeat; }
ul#ns-controls li#ns-pause { background: url(http://expeng.anr.msu.edu/images/sitewide/newsslider/ns-pause.png) no-repeat; }
ul#ns-controls li#ns-next { background: url(http://expeng.anr.msu.edu/images/sitewide/newsslider/ns-next.png) no-repeat; }

.not-banner-one { display: none !important; }

.show-banner { display: block !important; }

ul#ns-news li[class^=newsslider_] {
	/*max-height: 15.625em; 
	overflow: auto;
	padding: 0;
	position: relative;
	max-width: 100%;
}

ul#ns-news div.ns-caption {
	color: #fff;
    font-size: 0.875em;
	line-height: 1.2;
	padding:0 0 0 1em;
	width: 66%;
    margin-top: -16.625em;
    height: 15.2em;
}
div.ns-caption h2.banner-title {
	margin-top:2.5em;
	letter-spacing:.04em;
}
ul#ns-news a {
	color: #fff;
	text-decoration: none;
}

ul#ns-news div.ns-caption a span { 
	font-size: 11px;
	text-decoration: underline;
	text-transform: uppercase;
	vertical-align: middle;
}
}
*/