@media only screen {
    footer { 
        text-align:center;
        padding:1em 0;
        background-color: #3f474d;
        color: #fff;
    }
    // for browsers that don't support svg
    html.no-svg a.msu-wordmark-link{
        background:url('http://expeng.anr.msu.edu/images/sitewide/msuimages/msu-wordmark-white-221x47.png') no-repeat center center;
        width: 221px;
        height: 47px;
        display: inline-block;
    }
    .msu-wordmark-icon{
        max-height: 3.9375em;
        width: 100%;
    }
    #msu-wordmark-icon path,
    #msu-wordmark-icon rect,{
        fill:white;
        color: white;
    }
    footer ul { 
        margin:0;
        padding:0;
    }
    footer li {
        display:inline-block;
        border-left:1px #fff dotted;
        padding:0 .25em 0 .5em;
    }
    footer li:first-child {
        border-left:none;
    }
    footer li a {
        text-decoration:none;
        color:#fff;
    }
    footer li a:hover,
    footer li a:focus {
        text-decoration:underline;
    }
    #standard-footer-site-links {
        font-size:.8125em;
        border-bottom:1px dotted #fff;
        margin-bottom:.65em;
        padding-bottom:.65em;
    }
    #standard-footer-MSU-info {
        font-size:.625em;
    }
    #standard-footer-MSU-info .spartans-will {
        text-transform:uppercase;
        font-weight:700;
    }
    p.timestamp {
        font-size:.8125em;
    }
}
@media only screen and (min-width: 40.063em) {
     div.footer-text.medium-9.columns {
        float:right !important;
    }
    footer {
        text-align:left;
    }
    p.timestamp {
        float:right;
        @media only screen and (min-width:58.125em){
            margin-top: -1em;
        }
    }   
}