@media only screen {
    .masthead-row {
        position:fixed;
        background-color:#fff;
        z-index:100;
        padding-bottom:.5em;
        div.logo{
            svg{
                fill:$msu;
            }
        }
    }
    .masthead {
        height:2.125em;
        margin-top:1em;
        div.logo{
            @media only screen and (min-width:40.063em){
                float: left;    
                width: 48%;
            }
        }
        a{
            display: block;
            position: relative;
            height: 2.125em;
            max-width: 18.75em;
            .masthead{
                width: 100%;
                height: 100%;
            }

        }
    }
    // for broswers that don't support svg
    html.no-svg{
        div.masthead a{
            background:url('http://expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-green.png') no-repeat center center;
            width: 298px;
            height: 34px;
            display: inline-block;
        }

    }
    .title-row {
	   padding-top:2.5em;
        h1{
            a{
                color: #18453b;
                text-decoration: none;
            }
            a:hover,
            a:focus{
                text-decoration: underline;
            }
        }
    }
    #networkElement,
    #cse-search-box{
        display:none;
    }
    
}
@media only screen and (min-width: 40.063em) {
    #cse-search-box,
    #networkElement,
    .masthead form {
        display:block;
    }
    .masthead-row {
        position:relative;
        padding-bottom:0;
    }
    .title-row {
        padding-top:0;
    }
    div#search-medium {
        display:inline;
    }
    .masthead form { 
        float:right; 
        background: none repeat scroll 0 0 #FFFFFF;
        border: .0625em solid #999999;
        @include border-radius(.1875em);
        height: 1.75em;
        margin-bottom: .75em;
        width: 18.75em;
        overflow:hidden;
    }
    .masthead form input[type=text] { 
        border:none;
        width:16em;
        padding-left:.25em;
        margin-top: .1875em;
    }
    .masthead form input[type=submit] {
        background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        @include border-radius( 0 .1875em .1875em 0);
        cursor: pointer;
        float: right;
        height: 1.75em;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2.125em;
    }
    // for broswers that don't support svg
    html.no-svg .masthead form input[type=submit]{
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/c1bbc662-4555-489c-9a0b-5aa4f68538b8/fileAsset") no-repeat scroll center center #FFFFFF;
    }
}