@import "d:\css\sitewide\sass\sitewide";
@import "d:\css\sitewide\sass\normalize";
@import "d:\css\sitewide\sass\foundation";
@import "d:\css\sitewide\sass\tables-responsive";
// ANR BAR single line comment out if don't need. Won't appear in css file
@import "d:\anr_bar\scss\styles";
@import "mixins";
@import "variables";
@import "header";
@import "banner";
@import "nav-medium";
@import "footer";
@import "mobile-nav";

svg.masthead{
    margin: 0;
}
//@media only screen {
    body {
        line-height: 1em;
    }
    // for broswers that don't support svg
    html.no-svg{
        div.masthead a{
            background:url('http://expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-green.png') no-repeat center center;
            width: 298px;
            height: 34px;
            display: inline-block;
        }

    }
    h2.landmark {
        position: absolute;
        top:-3333em;
        left: -3333em;
    }
    body {
        color: $gray;
        line-height: 1.2;
        background-color:#3f474d;
    }
    #outer-wrap {
        width:100%;
        height:100%;
        float:left;
    }
    #inner-wrap{
        background-color:#fff;
    }
    article#content{
        h2{
            font:1.75em 900;
            line-height: 1.1875;
            a{
                text-decoration: none;
                color: $green;
            }
            a:focus,
            a:hover{
                text-decoration: underline;
            }
        }
        h3 {
            font:1.5em 800;
        }
        h4 { 
            font: 1.25em 700;
        }
        h5 {
            font:1em;
        } 
        a{
            color: $green;
        }
        a:hover,
        a:focus{ 
            text-decoration: none;
        }
        p {
            margin: 1em 0;
            line-height: 1.4;
        }
        li{
            margin: .5em 0;
            line-height: 1.4;
        }
        blockquote{
            margin: 1em;
            line-height: 1.4;
        }
        
        ul#crumbs{
            padding: 0;
            list-style: none;
            margin: 0;
            li{
                display: inline-block;
                margin: 0;
                a{
                    padding: 0.5em .5em .5em 0;
                }
            }
            li:after{
             content: ">";
            } 
            li:last-child:after{
                content: "";
            }
        }
        ul.paginate{
            padding: 0;
            margin: 0;
            list-style: 0;
            text-align: center;
            li{
                display: inline-block;
                padding: .5em 1em;
            }
            li:first-child{
                padding-left: 0;
            }
            li:last-child{
                padding-right: 0;
            }
        }
    }
//}
@import "print";