// Accordian Support
// @ https://github.com/nico3333fr/jquery-accessible-accordion-aria
.accordian__header:focus {
  border:none;
}
.accordian__header {
  font-size: 1.6em;
  font-weight: 700;
  font-family: "proxima-nova-1","proxima-nova-2", Arial, sans-serif;
  border: 0;
  background: transparent;
  padding: 15px 0;
  margin: 0;
  display: block;
  width: 100%;
text-align: left;
    border-top: 1px solid #ccc;
}
.accordian__title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.accordian__panel {
 display: block;
 overflow: hidden;
 opacity: 1;
 transition: visibility 0s ease, max-height 1s ease, opacity 1s ease ;
 max-height: 100em;
 /* magic number for max-height = enough height */
 visibility: visible;
 transition-delay: 0s;
 margin: 0;
 padding: 0;
 border-bottom: 1px solid #ccc;
}
.accordian__panel:first-child {
  border-top:1px;
}
.accordian__panel[aria-hidden=true] {
  display: block;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-delay: 1s, 0s, 0s;
  transition-delay: 1s, 0s, 0s;
  margin: 0;
  padding: 0;
}
[aria-expanded=true].accordian__header::after {
  content: " -"
}
[aria-expanded=false].accordian__header::after {
  content: " +"
}
