body {
  background-color: #fff;
}
body, div, img, form, fieldset, legend, label, blockquote, pre, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
img {
    border: none
}
.centered {
    text-align: center
}
.clearfix {
    clear: both
}
.left {
    float: left
}
.right {
    float: right
}
.hidden {
    position: absolute;
    left: -100em;
    top: auto;
    width: 0.0625em;
    height: 0.0625em;
    overflow: hidden
}
.bold {
  font-weight: 700;
}
ul {
  &.inline {
    padding:0;
    margin:0;
    list-style:none;
    li {
      float:left;
    }
  }
  &.unstyled {
    padding:0;
    margin:0;
    list-style:none;
  }
}
.media-object {
  margin-bottom:20px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  a.img {
    float:left;
    margin:0 1em 1em 0;
    display:block;
  }
}
b, strong, .bold {
    font-weight: bold
}
i, em, .italic {
    font-style: italic
}
ul li, ol li {
  line-height: 1;
  margin:auto;
}
.underline {
    text-decoration: underline
}
.strikethrough {
    text-decoration: line-through
}
.error {
    color: #f00;
    font-weight: bold
}
a.external_link {
    background: url("/contentAsset/raw-data/d885b1e6-5ccd-4453-b841-b20edec74442/fileAsset/") 100% 50% no-repeat !important;
    display: inline !important;
    padding-right: 15px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    hyphens: none;
    -moz-overflow-wrap: break-word;
    -moz-word-wrap: break-word;
    -moz-word-break: normal;
    -moz-hyphens: none;
    -webkit-overflow-wrap: break-word;
    -webkit-word-wrap: break-word;
    -webkit-word-break: normal;
    -webkit-hyphens: none;
}
div.floatbox {
    height: 1%;
    position: relative;
    overflow: auto
}
p#content_link {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0
}
div#cse {
    overflow: hidden
}
div#page .cse .gsc-control-cse, div#page .gsc-control-cse, div#page .cse .gsc-webResult.gsc-result, div#page .gsc-webResult.gsc-result, div#page .gsc-imageResult-column, div#page .gsc-imageResult-classic, div#page .gsc-webResult .gsc-result {
    background: none;
    border: none
}
div#content a.gcsc-branding-clickable, div#content a.gcsc-branding-clickable:hover, div#content a.gs-title, article#content a.gcsc-branding-clickable, article#content a.gcsc-branding-clickable:hover, article#content a.gs-title {
    border: none
}
acronym, abbr {
    cursor: help
}
label[for="gse_query"] {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden], template {
    display: none
}
a {
    background: transparent
}
a:active, a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b, strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {

}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button, select {
    text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled], html input[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: bold
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td, th {
    padding: 0
}
meta.foundation-version {
    font-family: "/5.2.3/"
}
meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0em
}
meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 40.063em
}
meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em
}
meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:90.063em)/";
    width: 90.063em
}
meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.063em)/";
    width: 120.063em
}
meta.foundation-data-attribute-namespace {
    font-family: false
}
html, body {
    height: 100%
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html, body {
    font-size: 100%
}
body {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    position: relative;
    cursor: default
}
a:hover {
    cursor: pointer
}
img {
    max-width: 100%;
    height: auto
}
img {
    -ms-interpolation-mode: bicubic
}
#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {
    max-width: none !important
}
.left {
    float: left !important
}
.right {
    float: right !important
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.hide {
    display: none
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
img {
    display: inline-block;
    vertical-align: middle
}
textarea {
    height: auto;
    min-height: 50px
}
select {
    width: 100%
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1170px
}
.row:before, .row:after {
    content: " ";
    display: table
}
.row:after {
    clear: both
}
.row.collapse>.column, .row.collapse>.columns {
    padding-left: 0;
    padding-right: 0
}
.row.collapse .row {
    margin-left: 0;
    margin-right: 0
}
.row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none
}
.row .row:before, .row .row:after {
    content: " ";
    display: table
}
.row .row:after {
    clear: both
}
.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none
}
.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table
}
.row .row.collapse:after {
    clear: both
}
.column, .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left
}
@media only screen {
    .small-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .small-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .small-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .small-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .small-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .small-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .small-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .small-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .small-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .small-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .small-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .small-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .small-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .small-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .small-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .small-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .small-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .small-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .small-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .small-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .small-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .small-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .small-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .small-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left
    }
    .small-1 {
        width: 8.33333%
    }
    .small-2 {
        width: 16.66667%
    }
    .small-3 {
        width: 25%
    }
    .small-4 {
        width: 33.33333%
    }
    .small-5 {
        width: 41.66667%
    }
    .small-6 {
        width: 50%
    }
    .small-7 {
        width: 58.33333%
    }
    .small-8 {
        width: 66.66667%
    }
    .small-9 {
        width: 75%
    }
    .small-10 {
        width: 83.33333%
    }
    .small-11 {
        width: 91.66667%
    }
    .small-12 {
        width: 100%
    }
    [class*="column"]+[class*="column"]:last-child {
        float: right
    }
    [class*="column"]+[class*="column"].end {
        float: left
    }
    .small-offset-0 {
        margin-left: 0% !important
    }
    .small-offset-1 {
        margin-left: 8.33333% !important
    }
    .small-offset-2 {
        margin-left: 16.66667% !important
    }
    .small-offset-3 {
        margin-left: 25% !important
    }
    .small-offset-4 {
        margin-left: 33.33333% !important
    }
    .small-offset-5 {
        margin-left: 41.66667% !important
    }
    .small-offset-6 {
        margin-left: 50% !important
    }
    .small-offset-7 {
        margin-left: 58.33333% !important
    }
    .small-offset-8 {
        margin-left: 66.66667% !important
    }
    .small-offset-9 {
        margin-left: 75% !important
    }
    .small-offset-10 {
        margin-left: 83.33333% !important
    }
    .small-offset-11 {
        margin-left: 91.66667% !important
    }
    .small-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.small-centered, .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.small-uncentered, .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.small-uncentered.opposite, .columns.small-uncentered.opposite {
        float: right
    }
}
@media only screen and (min-width: 40.063em) {
    .medium-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .medium-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .medium-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .medium-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .medium-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .medium-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .medium-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .medium-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .medium-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .medium-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .medium-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .medium-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .medium-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .medium-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .medium-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .medium-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .medium-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .medium-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .medium-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .medium-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .medium-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .medium-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .medium-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left
    }
    .medium-1 {
        width: 8.33333%
    }
    .medium-2 {
        width: 16.66667%
    }
    .medium-3 {
        width: 25%
    }
    .medium-4 {
        width: 33.33333%
    }
    .medium-5 {
        width: 41.66667%
    }
    .medium-6 {
        width: 50%
    }
    .medium-7 {
        width: 58.33333%
    }
    .medium-8 {
        width: 66.66667%
    }
    .medium-9 {
        width: 75%
    }
    .medium-10 {
        width: 83.33333%
    }
    .medium-11 {
        width: 91.66667%
    }
    .medium-12 {
        width: 100%
    }
    [class*="column"]+[class*="column"]:last-child {
        float: right
    }
    [class*="column"]+[class*="column"].end {
        float: left
    }
    .medium-offset-0 {
        margin-left: 0% !important
    }
    .medium-offset-1 {
        margin-left: 8.33333% !important
    }
    .medium-offset-2 {
        margin-left: 16.66667% !important
    }
    .medium-offset-3 {
        margin-left: 25% !important
    }
    .medium-offset-4 {
        margin-left: 33.33333% !important
    }
    .medium-offset-5 {
        margin-left: 41.66667% !important
    }
    .medium-offset-6 {
        margin-left: 50% !important
    }
    .medium-offset-7 {
        margin-left: 58.33333% !important
    }
    .medium-offset-8 {
        margin-left: 66.66667% !important
    }
    .medium-offset-9 {
        margin-left: 75% !important
    }
    .medium-offset-10 {
        margin-left: 83.33333% !important
    }
    .medium-offset-11 {
        margin-left: 91.66667% !important
    }
    .medium-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.medium-centered, .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.medium-uncentered, .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.medium-uncentered.opposite, .columns.medium-uncentered.opposite {
        float: right
    }
    .push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
}
@media only screen and (min-width: 64.063em) {
    .large-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .large-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .large-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .large-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .large-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .large-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .large-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .large-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .large-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .large-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .large-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .large-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .large-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .large-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .large-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .large-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .large-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .large-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .large-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .large-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .large-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .large-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .large-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .large-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left
    }
    .large-1 {
        width: 8.33333%
    }
    .large-2 {
        width: 16.66667%
    }
    .large-3 {
        width: 25%
    }
    .large-4 {
        width: 33.33333%
    }
    .large-5 {
        width: 41.66667%
    }
    .large-6 {
        width: 50%
    }
    .large-7 {
        width: 58.33333%
    }
    .large-8 {
        width: 66.66667%
    }
    .large-9 {
        width: 75%
    }
    .large-10 {
        width: 83.33333%
    }
    .large-11 {
        width: 91.66667%
    }
    .large-12 {
        width: 100%
    }
    [class*="column"]+[class*="column"]:last-child {
        float: right
    }
    [class*="column"]+[class*="column"].end {
        float: left
    }
    .large-offset-0 {
        margin-left: 0% !important
    }
    .large-offset-1 {
        margin-left: 8.33333% !important
    }
    .large-offset-2 {
        margin-left: 16.66667% !important
    }
    .large-offset-3 {
        margin-left: 25% !important
    }
    .large-offset-4 {
        margin-left: 33.33333% !important
    }
    .large-offset-5 {
        margin-left: 41.66667% !important
    }
    .large-offset-6 {
        margin-left: 50% !important
    }
    .large-offset-7 {
        margin-left: 58.33333% !important
    }
    .large-offset-8 {
        margin-left: 66.66667% !important
    }
    .large-offset-9 {
        margin-left: 75% !important
    }
    .large-offset-10 {
        margin-left: 83.33333% !important
    }
    .large-offset-11 {
        margin-left: 91.66667% !important
    }
    .large-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.large-centered, .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
    .column.large-uncentered, .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }
    .column.large-uncentered.opposite, .columns.large-uncentered.opposite {
        float: right
    }
    .push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto
    }
    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto
    }
    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto
    }
    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto
    }
    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto
    }
    .push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto
    }
    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto
    }
    .push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto
    }
    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto
    }
    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto
    }
    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
}
@media only screen {
    table:before {
        content: 'swipe left to scroll';
        display: block;
        font-style: italic
    }
    table {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        width: 100%
    }
    table td, table th {
        margin: 0;
        padding: .313em;
        text-align: left;
        border: 1px solid #bfbfbf;
        border-collapse: collapse
    }
    table thead {
        display: block;
        float: left
    }
    table thead tr {
        display: block
    }
    table thead th {
        display: block
    }
    table thead:after {
        clear: both;
        content: '';
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0
    }
    table tr {
        display: inline-block
    }
    table tbody {
        white-space: nowrap;
        display: block;
        overflow-x: auto;
        position: relative;
        width: auto
    }
    table tbody tr {
        display: inline-block;
        vertical-align: top;
        margin-right: -.313em
    }
    table tbody td {
        display: block;
        min-height: 1.25em
    }
    div#cse table:before {
        display: none
    }
    div#cse table {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        width: auto
    }
    div#cse table td, div#cse table th {
        padding: .313em;
        text-align: left;
        border: none !important;
        border-collapse: collapse;
        display: table-cell
    }
    div#cse table thead {
        overflow: auto;
        position: relative;
        white-space: normal;
        width: auto;
        float: none;
        display: table-header-group
    }
    div#cse table thead tr {
        display: table-row
    }
    div#cse table thead th {
        display: table-cell
    }
    div#cse table thead:after {
        display: none
    }
    div#cse table tr {
        display: table-row
    }
    div#cse table tbody {
        white-space: normal;
        display: table-row-group;
        overflow: auto;
        position: relative;
        width: auto
    }
    div#cse table tbody tr {
        display: table-row;
        vertical-align: top
    }
    div#cse table tbody td {
        display: table-cell;
        min-height: auto
    }
}
@media only screen and (min-width: 40.063em) {
    table:before {
        display: none
    }
    table {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        width: auto
    }
    table td, table th {
        padding: .313em;
        text-align: left;
        border: 1px solid #000;
        border-collapse: collapse;
        display: table-cell
    }
    table thead {
        overflow: auto;
        position: relative;
        white-space: normal;
        width: auto;
        float: none;
        display: table-header-group
    }
    table thead tr {
        display: table-row
    }
    table thead th {
        display: table-cell
    }
    table thead:after {
        display: none
    }
    table tr {
        display: table-row
    }
    table tbody {
        white-space: normal;
        display: table-row-group;
        overflow: auto;
        position: relative;
        width: auto
    }
    table tbody tr {
        display: table-row;
        vertical-align: top
    }
    table tbody td {
        display: table-cell;
        min-height: auto
    }
}

@media only screen and (min-width: 64.063em) {
    header #cse-search-box {
        display: block
    }
}

@media only screen and (min-width: 40.063em) {
    .masthead-row {
        position: relative
    }
    .title-row {
        padding-top: 0
    }
}
@media only screen and (max-width: 30.4375em) {
  a.site-title {
    display:inline-block;
  }
}
@media only screen and (min-width: 40.063em) {
    div.banner-wrap {
        background-size: 78% auto
    }
}
@media only screen and (min-width: 44.9375em) {
    div.banner-wrap {
        background-size: 66% auto
    }
}
@media only screen and (min-width: 63.064em) {
    div.banner-wrap {
        max-width: 82.125em;
        margin: 0 auto;
        background-color: #005a39;
        background: right top/76% auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
        background: right top/76% auto no-repeat, -webkit-linear-gradient(top, #00723f, #005a39);
        background: right top/76% auto no-repeat, -moz-linear-gradient(top, #00723f, #005a39);
        background: right top/76% auto no-repeat, -ms-linear-gradient(top, #00723f, #005a39);
        background: right top/76% auto no-repeat, -o-linear-gradient(top, #00723f, #005a39)
    }
}

@media only screen {
    body.mceContentBody {
        background: #fff none !important;
        text-align: left;
        overflow: auto;
        font-size: 16px;
        cursor: text
    }
    h2.landmark {
        position: absolute;
        top: -3333em;
        left: -3333em
    }
    body {
        font-family: "proxima-nova-1","proxima-nova-2", Arial, sans-serif;
        color: #000;
        line-height: 1;
        cursor: initial
    }
    h2 {
        font-size: 1.75em;
        font-family: "proxima-nova-1","proxima-nova-2", Arial, sans-serif;
        font-weight: 700;
        color: #005a39;
        margin: .45em 0
    }
    h3 {
        font-size: 1.6em;
        font-weight: 700;
        font-family: "proxima-nova-1","proxima-nova-2", Arial, sans-serif;
        margin: .5em 0
    }
    h4 {
        font-size: 1.4em;
        font-weight: 700;
        font-family: "proxima-nova-1","proxima-nova-2", Arial, sans-serif;
        margin: .593em 0;
        color: #005a39
    }
    h5 {
        font-size: 1.3em;
        font-weight: 800;
        font-family: "proxima-nova-1","proxima-nova-2", Arial, sans-serif;
        margin: .66em 0
    }
    h6 {
        color: #005a39;
        font-family: "proxima-nova-1","proxima-nova-2", Arial, sans-serif;
        font-size: 1.17em;
        font-weight: 700;
        margin: .721em 0
    }
    div.video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0
    }
    div.video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none
    }
    #outer-wrap {
        width: 100%;
        height: 100%;
        float: left
    }
}

div#main-wrap {
	background:#fff;
}

@media only screen and (min-width: 64.063em) {
    #main-wrap.aside-bg {
      //background: url("/contentAsset/raw-data/83dc3b72-c9b9-4230-acd9-69e728c30faa/fileAsset/") repeat-y 30% 0;
    }
    div.page-wrap {
        max-width: 80em;
        margin: 0 auto;
        &.sidebar-bg {

        }
    }
}
@media only screen and (min-width: 64.063em) {
    div.fade {

    }
}
@media only screen {
    header.home~article#content {
        margin-top: 0
    }
    article#content {
        margin-top: 1em;
        margin-bottom: 7.125em
    }
    article#content p {
        margin: 1em 0;
        line-height: 1.4;
        font-size: 1.0037500100376em
    }
    article#content li {
        margin: .5em 0;
        line-height: 1.4;
        font-size: 1.0037500100376em
    }
    article#content blockquote {
        margin: 1em;
        line-height: 1.4;
        font-size: 1.0037500100376em
    }
    article#content a {
        color: #005a39
    }
    article#content a:hover, article#content a:focus {
        text-decoration: none
    }
    ul.paginate {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center
    }
    ul.paginate li {
        display: inline-block;
        padding: .5em 1em
    }
    ul.paginate li:first-child {
        padding-left: 0
    }
    ul.paginate li:last-child {
        padding-right: 0
    }
    .right {
        float: right;
        margin: 1em 0 1em 1em
    }
    .left {
        float: left;
        margin: 1em 1em 1em 0
    }
    p.button {
        width: 90%
    }
    p.button a, p.button a.external_link {
        display: block !important;
        color: #005a39 !important;
        background-color: #fff !important;
        border: 1px solid #828282 !important;
        -webkit-border-radius: 0.375em;
        -moz-border-radius: 0.375em;
        -ms-border-radius: 0.375em;
        border-radius: 0.375em;
        text-align: center !important;
        padding: .5em 0 !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        text-decoration: none !important;
        margin: .5em 0 !important;
        background-image: none !important;
        letter-spacing: .0625em
    }
    p.button a:hover, p.button a:focus, p.button a.external_link:hover, p.button a.external_link:focus {
        text-decoration: underline !important
    }
    p.button.green a, p.button.green a.external_link {
        color: #fff !important;
        background-color: #005a39 !important;
        background-color: #005a39 !important;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f !important), to(#005a39 !important));
        background-image: -webkit-linear-gradient(top, #00723f !important, #005a39 !important);
        background-image: -moz-linear-gradient(top, #00723f !important, #005a39 !important);
        background-image: -ms-linear-gradient(top, #00723f !important, #005a39 !important);
        background-image: -o-linear-gradient(top, #00723f !important, #005a39 !important);
        background-image: linear-gradient(top, #00723f !important, #005a39 !important);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#00723f !important', EndColorStr='#005a39 !important')";
    }
    div.row.home-majors {
        margin: 1em -.9375em
    }
}
@media only screen and (min-width: 40.063em) {
    div.row.home-majors div {
        border-top: 30px #005a39 solid
    }
}
@media only screen {
    div.row.home-majors div h3 {
        background-color: #005a39;
        color: #fff;
        padding: 0.3em 1em;
        margin-left: -.9375em;
        font-size: 1.125em;
        -webkit-border-radius: 0 1.1875em 1.1875em 0;
        -moz-border-radius: 0 1.1875em 1.1875em 0;
        -ms-border-radius: 0 1.1875em 1.1875em 0;
        border-radius: 0 1.1875em 1.1875em 0
    }
}
@media only screen and (min-width: 40.063em) {
    div.row.home-majors div h3 {
        border-top: .25em solid #fff;
        border-right: .25em solid #fff;
        border-bottom: .25em solid #fff;
        border-left: none;
        margin-top: -34px;
        height: 38px
    }
}
@media only screen {
    div.row.home-majors div ul {
        padding: 0;
        list-style: none
    }
}
@media only screen and (min-width: 40.063em) {
    div.row.home-majors div:nth-child(1) h3 {
        padding-left: 0;
        margin-left: 0
    }
}
@media only screen {
    div.row.home-majors div:nth-child(3) {
        border-top: 30px #fff solid
    }
    ul#social {
      list-style: none;
      padding: 0;
      display: block;
      margin: 1em auto;
      text-align: center;
    }
    ul#social li {
      display:inline-block;
      margin:0 .5em;
    }
}
@media only screen {
    ul#social li a {
        display: block;
        width: 3.125em;
        height: 3.125em;
        text-indent: -999em
    }
    ul#social li.dairy-store a {
        background: url("/images/dairystore.png") no-repeat center center;
        width: 9.25em;
        height: 6.5em;
        background-size: 9.25em 6.5em
    }
    ul#social li.youtube a {
      background: url("/contentAsset/raw-data/059381d0-44e1-4e20-8b65-4970a6d4eed6/fileAsset/") no-repeat center center;
        background-size: 100%
    }
    ul#social li.twitter a {
      background: url("/contentAsset/raw-data/0c5b58aa-4b46-4dc3-a03e-81d2b9b53ca3/fileAsset/") no-repeat center center;
        background-size: 100%
    }
    ul#social li.instagram a {
      background: url("/contentAsset/raw-data/c5546119-b2b5-4dd2-a0e5-4e119abd6f35/fileAsset/")  no-repeat center center;
        background-size: 100%
    }
    ul#social li.flickr a {
      background: url("/contentAsset/raw-data/bb4eb574-43c2-4482-8fb3-4b27257a5709/fileAsset/") no-repeat center center;
        background-size: 100%
    }
    ul#social li.facebook a {
      background: url("/contentAsset/raw-data/4e278cd5-26b5-4996-ace2-f3dd2c81d85b/fileAsset/") no-repeat center center;
        background-size: 100%
    }
    ul#social li.rss a {
        background: url("/contentAsset/raw-data/51273082-b0cf-4b8b-ae1b-c2c566530c6d/fileAsset/") no-repeat center center;
        background-size: 3.125em 3.125em
    }
    ul#social li.linkedin a {
        background: url("/contentAsset/raw-data/339d69f7-7af4-49be-aac3-1a8ecf659545/fileAsset/byInode/1") no-repeat center center;
        background-size: 3.125em 3.125em
    }
    ul.news {
        padding: 0;
        list-style: none
    }
    ul.news li.news-item {
        overflow: auto
    }
    ul.news li.news-item:first-child {
        margin-top:-12px!important;
    }
}
@media only screen and (min-width: 30em) {
    ul.news li.news-item img.news-thumb {
        float: right;
        margin: 0 0 1em 1em;
        max-width: 10em
    }
}
@media only screen {
    ul.news li.news-item h3 {
        margin-bottom: 0;
        font-size: 1.5em
    }
    ul.news li.news-item p.news-date {
        font-size: .9375em;
        margin-top: 0 !important
    }
    a.in-article-img img {
        min-width: 100%;
        margin-bottom: .75em
    }
}
@media only screen and (min-width: 40.063em) {
    a.in-article-img {
        display: block;
        float: right;
        margin: 0 0 1em 1em;
        max-width: 21.875em
    }
}
@media only screen {
    ul.events {
        padding: 0;
        list-style: none
    }
    ul.events li.event-item h3 {
        font-size: 1.5em
    }
    ul.news-list {
    	list-style:none;
    	padding:0;
    }

    ul.news-list li.news-item {
    	overflow:auto;
    }

    ul.news-list li.news-item h3 {
    	font-size:1.5em;
    	margin-bottom:0;
    }

    ul.news-list li.news-item p.news-date {
    	font-size:.9375em;
    	margin-top:0!important;
    }

    div.news-image img {
    	margin-bottom:.75em;
    	min-width:100%;
    }
}
@media only screen and (min-width: 40.063em) {
    div.news-image {
        display: block;
        float: right;
        margin: 0 0 1em 1em;
        max-width: 21.875em
    }
}
@media only screen and (min-width: 30em) {
  ul.news-list li.news-item img.news-image {
  	float:right;
  	margin:0 0 1em 1em;
  	max-width:10em;
  }
}

@media only screen and (min-width: 40.063em) {
    div.faculty-info {
        overflow: auto
    }
    div.faculty-info img.faculty-full {
        float: left;
        margin: 0 1em 0 0
    }
}
@media only screen {
    ul.directory-label {
        padding: 0;
        background-color: #005a39;
        -webkit-border-radius: 0 1.1875em 1.1875em 0;
        -moz-border-radius: 0 1.1875em 1.1875em 0;
        -ms-border-radius: 0 1.1875em 1.1875em 0;
        border-radius: 0 1.1875em 1.1875em 0;
        list-style: none;
        overflow: auto;
        display: none
    }
}
@media only screen and (min-width: 40.063em) {
    ul.directory-label {
        display: block
    }
}
@media only screen {
    ul.directory-label li {
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 700;
        color: #fff
    }
}
@media only screen and (min-width: 40.063em) {
    ul.directory-label li {
        width: 50%
    }
}
@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.directory-label li {
        width: 33.3%
    }
}
@media only screen and (min-width: 64.063em) {
    ul.directory-label li span {
        display: none
    }
}
@media only screen and (min-width: 40.063em) {
    ul.directory-label li:last-child {
        display: none
    }
}
@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.directory-label li:last-child {
        display: block
    }
}
@media only screen {
    ul.faculty {
        padding: 0;
        list-style: none;
        font-size: 1.25em;
    }
    ul.faculty li.faculty-person {
        padding: 0;
        overflow: auto
    }
    ul.faculty li.faculty-person img.faculty-thumb {
        display: block
    }
}
@media only screen and (min-width: 24em) {
    ul.faculty li.faculty-person img.faculty-thumb {
        float: left;
        margin: 0 0 1em -7em
    }
}
@media only screen and (min-width: 24em) {
    ul.faculty li.faculty-person p {
        padding-left: 7em
    }
}
@media only screen and (min-width: 40.063em) {
    ul.faculty li.faculty-person p {
        float: left;
        width: 49%;
        padding-left: 0
    }
}
@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.faculty li.faculty-person p {
        width: 66.6%
    }
}
@media only screen {
    ul.faculty li.faculty-person p span.phone, ul.faculty li.faculty-person p span.email {
        display: block
    }
}
@media only screen and (min-width: 40.063em) {
    ul.faculty li.faculty-person p span.phone, ul.faculty li.faculty-person p span.email {
        text-align: center
    }
}
@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.faculty li.faculty-person p span.phone, ul.faculty li.faculty-person p span.email {
        width: 50%;
        float: left;
        display: inline-block
    }
}
@media only screen and (min-width: 40.063em) {
    ul.faculty li.faculty-person p.name {
        padding-left: 7em
    }
}
@media only screen and (min-width: 64.063em) {
    ul.faculty li.faculty-person p.name {
        width: 33.3%
    }
}
@media only screen {
    ul.faculty li.faculty-person p.name a {
        font-size: 1.5em
    }
    ul.faculty li.faculty-person:nth-child(even) {
        background-color: #e6f7ed
    }
}
@media print {
    div#networkElement, header, #mobile-nav, .top-links, #nav-button, #search-medium, #nav-wrap, .banner-home, div.banner-wrap, .featured-home, #social, footer, #standard-footer-site-links {
        display: none
    }
    .content a {
        color: #186B9B
    }
    a:after {
        content: " (" attr(href) ")";
        font-size: 80%
    }
    ul.products {
        list-style: none
    }
    ul.products li {
        overflow: auto
    }
    ul.products img {
        float: left;
        margin: 0 .5em .5em 0
    }
    /*
    footer {
        text-align: center
    }
    footer ul {
        list-style: none;
        overflow: auto;
        margin-bottom: 1em
    }
    footer li {
        float: left;
        margin-left: 1em
    }
    footer li:first-child {
        margin-left: 0
    }
    */
}
@media (max-width: 64em) {
  #anchor_link_letters a {
    display: inline-block;
    margin: 0.625em 0.9375em;
    padding:0.625em;
  }
}
#content p a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  hyphens: none;
  -moz-overflow-wrap: break-word;
  -moz-word-wrap: break-word;
  -moz-word-break: normal;
  -moz-hyphens: none;
  -webkit-overflow-wrap: break-word;
  -webkit-word-wrap: break-word;
  -webkit-word-break: normal;
  -webkit-hyphens: none;
}
nav#mobile-nav a, nav#navigation a, #content p.name a {
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: keep-all;
  hyphens: none;
  -moz-overflow-wrap: normal;
  -moz-word-wrap: normal;
  -moz-word-break: keep-all;
  -moz-hyphens: none;
  -webkit-overflow-wrap: normal;
  -webkit-word-wrap: normal;
  -webkit-word-break: keep-all;
  -webkit-hyphens: none;
}
header p#nav-button {
  position: absolute;
  top: 18px;
  float: right;
  right: 15px;
}
header p#nav-button a, p#nav-button a {
  word-wrap: normal;
  overflow-wrap: normal!important;
  word-break:keep-all;
}
ul.plugin-social-buttons {
  -webkit-margin-before: 0em!important;
  -webkit-padding-start: 0em!important;
  -webkit-margin-after: 0em!important;
}
#directory-heading {
  margin:1em 0;
  border-radius: 0 1.1875em 1.1875em 0;
  background-color: #005a39;
    -webkit-border-radius: 0 1.1875em 1.1875em 0;
    -moz-border-radius: 0 1.1875em 1.1875em 0;
    -ms-border-radius: 0 1.1875em 1.1875em 0;
}
#directory-heading p {
  line-height: 1.4;
  font-size: 1.0037500100376em;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin:.5em 0!important;
}
.directory-person {
  margin:2em 0!important;
  padding:2em 0!important;
}
.directory-person .name {
  font-size: 1.5em;
}
.directory-person.odd {
  background-color: #e6f7ed;
}
article#content .person-info h3 {
  margin-top:0;
  margin-bottom:0;
}
article#content .person-info p {
  padding-top:7px;
  margin-top:0;
  font-weight: bold;
}

@media only screen {
    nav#mobile-nav p.close a .close-icon {
        height: 1em;
        width: 1em;
    }
    #close-icon path {
        fill: #005A39;
        color: #005A39;
    }
    .msu-wordmark-icon {
        max-height: 3.9375em;
        width: 100%;
    }
    /*
    #msu-wordmark-icon path, #msu-wordmark-icon rect {
        fill: #fff;
        color: #fff;
    }
    */
}
@media only screen {
    div.banner-text {
        background-color: #005a39;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
        background-image: -webkit-linear-gradient(top, #00723f, #005a39);
        background-image: -moz-linear-gradient(top, #00723f, #005a39);
        background-image: -ms-linear-gradient(top, #00723f, #005a39);
        background-image: -o-linear-gradient(top, #00723f, #005a39);
        background-image: linear-gradient(top, #00723f, #005a39);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#00723f', EndColorStr='#005a39')";
        color: #fff;
        padding: 1em .9375em .5em .9375em;
        line-height: 1.5
    }
    div.banner-text h1, div.banner-text h2, div.banner-text h3 {
      color: #fff;
    }
}
@media only screen and (min-width: 40.063em) {
    div.banner-text {
        -webkit-border-radius: 0 7em 7em 0;
        -moz-border-radius: 0 7em 7em 0;
        -ms-border-radius: 0 7em 7em 0;
        border-radius: 0 7em 7em 0;
        padding-right: 5em
    }
}
@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    div.banner-text {
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        -ms-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
        padding-right: .9375em;
        min-height: 15.25em
    }
}

@media screen and (max-width: 39.9375em) {
  article#content .person-contact p {
    margin-top:0; }
  .hide-for-small-only {
    display: none !important; } }

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important; } }

@media screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important; } }

@media screen and (max-width: 39.9375em) {
  .show-for-medium {
    display: none !important; } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-for-medium-only {
    display: none !important; } }

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important; } }

@media screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important; } }

@media screen and (max-width: 63.9375em) {
  .show-for-large {
    display: none !important; } }

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .hide-for-large-only {
    display: none !important; } }

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important; } }

/* ========================================
   == dotcms form styling
   ======================================== */

.submitContent dt.formFieldLabel {
  float:none!important;
  width:auto!important;
  display:inline-block!important;
}

.submitContent dd.formFieldInput {
  float:none!important;
  display:block!important;
  margin:3px!important;
}

.submitContent dd.formFieldInput div div input, .dijitTextArea {
  padding: 10px!important;
  font-family: "proxima-nova-1","proxima-nova-2", Arial,sans-serif !important;
}

.dijitInputField {
  height:auto!important;
}

.dijitTextArea {
  min-height:120px!important;
}

.dijitButtonText {
  padding: 10px 20px !important;
}

div#submitButton .dijitButton, .dmundra .dijitButtonNode {
  border: none!important;
  background: #005a39!important;
  color: #fff !important;
}

div#submitButton .dijitHover, div#submitButton .dijitFocused, div#submitButton .dijitActiveFocused {
  background: #005a39!important;
}

div.selectField div.dijitArrowButton {
  background: #ccc!important;
}

.submitButton {
  text-align: left!important;
}

button#buttonSubmitButton {
  padding:10px 20px!important;
  border: none!important;
  background: #005a39!important;
  color: #fff !important;
}

.dijitArrowButton, div.selectField {
  padding:0!important;
}

.msu-wordmark-icon text {
  display:none;
}

/* ========================================
== Common Template Styles
== this is common template v1
== iterating on this ver until fully converted
== to call it v2 (updated to foundation 6, etc)
======================================== */

/* = Others 														======== */

body {
	background-color:#18453b;
}

body.home {
	background-color:#fff;
}

a {
	text-decoration: underline;
}

a:hover, a:focus {
	text-decoration: none;
}

/* = Colors 														======== */
$blk:#000;
$callOutOrange:rgba(206,97,49,1);
$msugrn:#005a39;

/* = Font Size 														======== */
$fxs:.7em;
$fsm:.85em;
$fbase:1em; // 1em == 16px
$fmd:1.2em;
$flg:1.4em;
$fxl:1.8em;
$fxxl:2.2em;

/* ========== Typography           ================= */
blockquote {
	line-height: 1.4;
  margin: 1em 0;
  font-size: 0.9em;
}

.sm {
	font-size: .8em!important;
}

.upp {
	text-transform: uppercase!important;
}


/* = Others 														======== */


			ul.events-list {
				p {
					margin:10px 0;
					&.date {
						font-weight:700;
						color:$msugrn;
						margin:10px 0;
					}
					&.summary {
						margin:10px 0;
					}
				}
			}


a {
	text-decoration: underline;
}

a:hover, a:focus {
	text-decoration: none;
}

/* ========== Structure IDs            ================= */

#article-container {
		// padding:;
		// background-image:;
		background-repeat:repeat-y;
}

section.widget {
	margin:15px 0;
}

#person-info img {
  float:left;
  margin-right:1em;
  margin-bottom:1em;
}

#person-info p {
	line-height: 1.6;
}

#person-info p a {
	font-weight: 600;
}

#page-body {
  padding-left:30px;
  padding-top: 20px;
  padding-bottom:20px;
}

@media screen and (max-width:64.063em) {
#page-body {
  padding-left:0.9375em;
}
}

@media screen and (min-width:64.063em) {
#stan-cont-page {
  display:flex;
  div.hide-md-sm {
    display:flex;
    nav#navigation {
      align-items: stretch;
      width:100%;
    }
  }
}
}

#article-body-related {
	clear: both;
	margin:1em 0;
	div.columns {
		a {
			font-size:1.1em;
			font-weight:bold;
			margin:.5em 0;
			display: inline-block;
			img {
				margin:0;
			}
		}
		p {
			margin:0 0 1em;
		}
	}
	.random-list {
		margin:0;
		padding:0;
		list-style: none;
		li {
			width:32%;
			display: inline-block;
			vertical-align: top;
			padding:0 1.8em 0 0;
			margin:0;
			a {
				font-size:1.1em;
				font-weight:bold;
				margin:.5em 0 0;
				display: inline-block;
				&.img {
					margin:0;
				}
				img {
					margin:0;
				}
			}
			p {
				margin:0 0 1em;
				font-size:.9em;
			}
		}
	}
}

#publication-details {
	h2, p {
		margin:.3em 0;
	}
}

@media screen and (max-width:64.063em) and (min-width:40.063em) {
  #page section.article-detail figure {
    max-width:60%;
  }
}

@media screen and (max-width:40.063em) {
  #main-wrap {
    figure {
      float:none!important;
      width:100%!important;
      margin:1em auto!important;
    }
    img {
      float:none!important;
      width:100%!important;
      margin:0 auto 1em auto!important;
    }
  }
	#person-info {
		img {
			width:100%;
		}
		h3 {
			clear:both;
		}
	}
}

/* === Call Out Tile === */

.callout {
	margin:1em 0;
	figure {
		float:left;
		margin:0 25px 0 0;
		a {
			display: block;
		}
	}
	div.text {
		padding:8px 0;
		h3, h3 a {
			color:$blk;
			margin-top:0
		}
		hr {
			width:30px;
			height:1px;
			border-top:2px solid $callOutOrange;
			margin:.5em 0;
			padding:0;
		}
		p {
			margin:5px 0;
		}
		a.readmore {
			color:$callOutOrange;
			font-weight:700;
			span {
				float: right;
				line-height: .5em;
				font-size: 30px;
			}
		}
	}
}

/* === Pagination === */

.paginate, .pagination {
	p {
		font-weight:900;
	}
	ul {
	list-style: none;
	margin:0;
	padding:0;
	display:block;
		li {
			display:inline;
			margin:.5em;
			a {
				color:$blk;
				text-decoration: underline;
			}
			&.here a, &.active a {
				font-weight:900;
			}
		}
	}
}

/* ========== Structure Classes            ================= */

nav#navigation {
  padding-bottom: 20px;
  background: url("/contentAsset/raw-data/f3b038cf-2e4f-49a2-ab84-77694cab26f7/fileAsset/") right repeat-y;
}

#page {
  ul, ol {
    li {
      line-height: 1.2;
      margin: .3em 0;
    }
  }
  /* test this omission
      h2 {
        margin-bottom:0;
      }
    */
      p.summary {
        font-size: 1em;
        font-weight: 600;
        line-height: 1.4em;
        margin: .65em 0;
      }
      p.date {
        font-size:0.9em;
      }

  p {
    line-height: 1.4;
    margin: 1em 0;
    font-size: 1em;
  }
	ul.article-list {
		list-style: none;
		padding:0;
		margin:0;
		&.places {
			li {
				h3,h4,h5 {
					margin-bottom:.5em;
				}
				address {
					margin:0 0 .3em;
					font-style: normal;
					font-weight:700;
					color:$msugrn;
				}
				p {
					margin:.2em 0;
				}
			}
		}
		li {
			p {
				&.authorDate {
					margin:0!important;
				}
			}
		}
	}
}

ul.article-list li {
	margin:.95em 0!important;
	clear:both;
	overflow: auto;
}

ul.article-list li figure {
	float:right;
	margin:0 0 .95em .95em;
}

@media (min-width:45em) {
	.medium-6 {
		ul.article-list li figure {
			width:40%;
		}
	}
}

ul.article-list li h3, ul.article-list li h3 a {
	font-size:1.1em;
	color:#000;
	margin-bottom:0.1em;
	text-transform: capitalize;
}

ul.article-list p.eventDate {
	font-size: 1em;
  font-weight: bold;
  color: #005a39;
}

.article-body-content {
	border-top:1px solid #000;
	margin-bottom:3em;
	clear:both;
}

.article-body-content > figure, .article-body-content > img {
	float: right;
	margin:1em 0 .5em 1em;
}

.article-body-content > figure figcaption {
	font-size: .8em;
	display: block;
	padding: 1em;
	font-style: italic;
	background: #efefef;
}

.pagination {
	clear: both;
	margin:2em 0;
	text-align: center;
}

@media (max-width:45em) {
	/* display main image a little nicer on mobile */
	.article-body-content > figure, .article-body-content > figure img, .article-body-content > img, .article-body-content p > img, .medium-6 .article-list figure {
		clear: both!important;
    float: none!important;
    margin: 1em 0 0 0!important;
    width: 100%!important;
	}
	ul.article-list li figure, .medium-6 ul.article-list li figure {
		float:none;
		margin:1em 0 0 0;
	}
	ul.article-list li figure img, .medium-6 ul.article-list li figure img {
		width:100%;
	}
}

.article-body-content ul {
	line-height: 1.4;
	font-size: 0.9em;
	margin:1.5em 0;
}

.article-body-content ul li {

}

.related-list:last-child {
	border-bottom: none;
}

.related-list {
	list-style: none;
	padding:0.75em 0;
	margin:0.75em 0;
	border-bottom:1px solid #000;
}

.related-list li {
	font-size:1.1em;
	line-height: 1.25em;
	font-weight: bold;
	margin:0 0 1em 0;
}

.related-list li img {
  margin:0 0 0.6em;
}

#customer-footer-links {
  a {
    float:left;
    display:block;
    margin:20px;
    figure {
      float:none;
      margin:0;
      img {
        
      }
    }
  }
}

#page {
section {
  &.person-detail {
    aside {
      .kspec-h2-mb {
        margin-bottom:0;
      }
      .kspec-shrink-text {
        margin-top:0;
        font-size:18px;
        font-weight:700;
      }
      .kspec-space-more {
        line-height: 2em;
      }
      figure {
        float:none;
        margin:0;
      }
    }
    article {
      padding-left:45px;
    }
  }
  aside {
    figure.contact-person {
      float:left;
      width:75px;
      margin:0 10px 10px 0;
      img {

      }
    }
  }
  &.digidoc-detail {
    article {
      div.series {
        div {
          margin-bottom:30px;
        }
      }
    }
  }
  &.article-detail {
    margin-bottom: 45px;
    figure {
      float:right;
      margin-right:0;
      &.initial {
        margin-top:0;
      }
      &.digitalDoc {
      	margin:0;
        float:none;
      }
    }
    hr {
      margin: 20px 0;
    }
    article {
      padding-right:45px;
      h2 {
        margin-bottom:0;
      }
      .article-author {
        figure {
          float:left;
          margin:0 1em 1em 0;
          svg.default-person {
            width:75px;
            height:100px;
          }
        }
        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
    }
    aside {
      ul.unstyled li {
        margin:10px 0;
      }
    }
    p.summary {
      font-size: 1em;
      font-weight: 600;
      line-height: 1.4em;
      margin: .65em 0;
    }
    p.date {
      font-size:0.9em;
    }
    ul, ol {
      li {
        line-height: 1.2;
        margin: .3em 0;
      }
    }
  }
}
}

#main-wrap {
  section {
    &#article-related {
      background:#18453b;
      color:#fff;
      padding:20px 0;
      div.item {
        float:left;
        padding:0 60px 60px 0;
        width:25%;
        img {
          margin-bottom:10px;
        }
        &:nth-child(6n) {
          clear:left;
        }
      }
      h3 {
        color:#fff;
      }
      p {
        color:#fff;
      }
      a.link {
        display: block;
        color:#fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 64.063em) {
  #page {
    section {
      &.article-detail {
        hr {
          margin: 30px 0;
        }
        article {
          padding:0 0.9375em;
        }
      }
      &.event-detail {
        aside {
          figure.contact-person {
            max-height: auto;
            margin:0 10px 10px 0;
          }
        }
      }
    }
  }
  #main-wrap {
    background:#fff;
    section {
      &#article-related {
        div.item {
          width:50%;
          padding:0 60px 60px 0;
          img {
            width:100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 40.063em) {
  #main-wrap {
    section {
      &#article-related {
        div.item {
          width:100%;
          padding:0 0 30px;
        }
      }
    }
  }
}

#page {
  // padding:1em 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
	.people-list {
		list-style: none;
		padding: 0;
		li {
			width:32%;
			display: inline-block;
			vertical-align: top;
			padding:0 1em 0 0;
			margin:0 0 25px;
			figure {
				margin:0;
				min-height:200px;

				margin-bottom: 1em;
			}
			#placeholder {
				background-color: #f8f8f8;
				width:132px;
				height: 178px;
    		margin-bottom: 1em;
			}

			.person-name {
				font-size:1.3em;
				margin:0;
				a {
					color:$blk;
				}
			}

			p.person-title {
				margin:0 0 5px;
			}
			p.person-telephone {
				color:$msugrn;
				margin:0 0 5px;
				font-weight:700;
			}
			p.person-email {
				margin:0;
				font-weight:700;
			}
		}
	}

	.publications-list {
		list-style: none;
		li {
			margin:.5em 0;
			padding:0;
			h5.issue {
				font-weight: 700;
				color:$msugrn;
				margin:5px 0;
			}
			h3 {
				font-weight: 900;
				margin:5px 0;
				a {
					text-decoration: underline;
					color:$blk;
				}
			}
			p {
				margin:5px 0;
				font-size:.9em;
			}
			p.authorDate {
				font-weight: 700;
				color: $blk;
				margin:5px 0;
			}
		}
	}
}

@media only screen and (max-width: 40.063em) {
	#page {
		.people-list, .random-list {
			li {
				width:49%;
			}
		}
	}
}

/* ========== Widget Styles 			            ================= */

#people-widget .widget-list li.item {
	min-height:340px;
}

.widget-list {
	list-style: none;
	padding:0;
	margin:0;
	li.item {
		float:left
	}
}

.widget-list li figure {
	margin:1em 0;
}

/* === Home Article Widget === */
body.home ul.news li.news-item a img {
	float: right;
	margin: .8em .5em .5em;
}

/* ========== Global CLasses, colors            ================= */

 a {
   color:#005a39;
 }

/* the importants are temporary to override header.vtl, common v1 css */

 p.authorDate {
 	font-size: 0.9em!important;
 	margin-top:0!important;
	span.authors {
		display:block;
		margin:.9em 0;
	}
 }

ul.article-list h5 {
	font-size:1em!important;
	color:#005a39!important;
	margin-bottom:.1em!important;
}

.clearall {
  clear:both;
}

.left-0011 {
	float:left;
	margin:0 0 1em 1em;
}

.btn {
  font-size:1.1em;
  font-weight:bold;
  text-align: center;
  margin:1em 0;
  padding:.6em 3em;
}

.submit {
  display: inline-block;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.round {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.green {
	color:#005a39;
}

.grad-green-darkgreen {
  background: #006738; /* Old browsers */
  background: -moz-linear-gradient(top,  #006738 0%, #005133 91%, #003a1f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #006738 0%,#005133 91%,#003a1f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #006738 0%,#005133 91%,#003a1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006738', endColorstr='#003a1f',GradientType=0 ); /* IE6-9 */
}

.grad-green-darkgreen:hover, .grad-green-darkgreen:active {
  background: #006738; /* Old browsers */
  background: -moz-linear-gradient(top,  #003a1f 0%, #005133 91%, #006738 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #003a1f 0%,#005133 91%,#006738 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #003a1f 0%,#005133 91%,#006738 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a1f', endColorstr='#006738',GradientType=0 ); /* IE6-9 */
}

.btn.grad-green-darkgreen {
  color:#fff;
}

/* ========== Media Queries            ================= */

@media screen and (max-width: 64.063em) {
	.hide-md-sm {
		display: none;
	}
  #main-wrap {
    background-image: none;
  }
}

@media screen and (max-width: 30em) {
	.article-body-content img {
		float:none!important;
		margin:10px auto!important;
		width:100%;
	}
}

/* new nav */
@media only screen and (min-width: 64.063em) {
    ul#nav {
        list-style: none;
				// margin: 1em -1em 1em 0;
        margin:0;
				padding:0;
				font-size:1.1em;
        li.level_1 {
          &:first-child {
            margin-top:0;
            padding-top:20px;
            background:transparent;
            margin-bottom:0;
            a {

            }
            &.here {
              margin-top:0;
            }
          }
        }
    }
    ul#nav li.level_1.first {
      margin-top:0!important;
    }
    ul#nav li.level_1 a {
        display: block;
        padding: 1em .5em;
        margin: 0;
        text-decoration: none;
        color: #000
    }
    ul#nav li.level_1>ul {
        display: block;
				list-style: none;
				padding:0;
				font-size:.9em;
    }
    ul#nav li.level_1>ul li.level_2>a {
        text-decoration: none;
				padding:1em 1.5em;
    }
    ul#nav li.level_1>ul li.level_2.here>a, ul#nav li.level_1>ul li.level_2 a:hover, ul#nav li.level_1>ul li.level_2 a:focus {
        text-decoration: underline;
				font-weight: 700;
    }
    ul#nav li.level_1>ul li.level_2 ul {
        padding-left: 2em;
        list-style: disc;
				margin-left:10px;
    }
    ul#nav li.level_1>ul li.level_2 ul li.level_3.here>a {
        text-decoration: underline
    }
    ul#nav li.level_1.here>a, ul#nav li.level_1>a:hover, ul#nav li.level_1>a:focus {
        background-color: rgba(0,90,57,0.1);
        color: #000;
        text-decoration: underline;
        font-weight: 700
    }
    ul#nav li.level_1.parent_here>a {
        background-color: #005a39;
        color: #fff;
        font-weight: 700;
        text-decoration: none
    }
		ul#nav li.level_3 a {
			padding-left: 0;
		}
		ul#nav li.level_1.top {
			a {
        background:#005a39;
				color:#fff;
				font-weight: 800;
			}
		}
}

@media only screen {
	p#nav-button {
			margin: 0;
			text-align: right;
	}
	#nav-button-container {
	  height:2.125em;
	  margin-top:1em;
	}
	p#nav-button a svg {
    height: 32px;
    width: 92px;
    margin-top: 0;
    overflow: hidden;
	}
	html.no-svg p#nav-button a {
			background: url("/includes/images/menu.png") no-repeat 0 0 transparent;
			background-size: 100% auto;
			display: block;
			height: 3.625em;
			overflow: hidden;
			position: absolute;
			right: -0.9375em;
			text-indent: 9999em;
			top: -0.5em;
			width: 4em
	}
	html.no-svg nav#mobile-nav p.close {
			text-align: right;
			text-transform: uppercase
	}
	html.no-svg nav#mobile-nav p.close a {
			background-size: 1.25em 1.25em;
			padding-left: 1.875em;
			background: url("/contentAsset/raw-data/208aa3ac-43d3-4a37-9e61-eb753fe3637b/fileAsset/") no-repeat scroll left center transparent
	}
	nav#mobile-nav p.close {
			margin: 1em;
	}
	nav#mobile-nav p.close a {
			display: block;
			overflow: hidden;
			margin: 0;
			text-align: right
	}
	nav#mobile-nav p.close a .close-icon {
			height: 1em;
			width: 1em;
			margin: 0 3px -2px 0;
	}
	#close-icon path {
			fill: #fff;
			color: #fff
	}
	nav#mobile-nav {
			width: 0;
			overflow: hidden;
			position: fixed;
			top: 0;
			right: -250px;
			height: 100%;
			z-index: 10;
			transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	}
	nav#mobile-nav .title-mobile {
			font-size: 1.6em;
			line-height: 1;
			font-weight: bold;
			border-top: 4px double #fff;
			border-bottom: 1px solid #fff;
			padding:.8em;
			margin:0;
	}
	nav#mobile-nav a {
			text-decoration: none;
			color: #fff
	}
	nav#mobile-nav a:hover, nav#mobile-nav a:focus {
			text-decoration: underline
	}
	nav#mobile-nav {
			background-color: #282829;
			color: #fff
	}
	nav#mobile-nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: 1.3
	}
	nav#mobile-nav li {
			border-top: .063em solid #666;
			margin:0;
			line-height: 1;
	}
	nav#mobile-nav li:first-child {
			border-top: none
	}
	nav#mobile-nav li a {
			display: block;
			padding: 1em;
			margin: 0;
			text-decoration: none;
			word-break: break-word;
	}
	nav#mobile-nav li.parent>a {
			background: url("/contentAsset/raw-data/2c71e2bb-4eba-47e4-b4fe-0b87b5f853cd/fileAsset") right center no-repeat;
			background-size: .75em .75em
	}
	#plus-icon rect, #minus-icon rect {
			fill: #fff
	}
	nav#mobile-nav li.parent ul {
			display: none
	}
	nav#mobile-nav li.active.parent>ul {
			display: block
	}
	nav#mobile-nav li.active>a, nav#mobile-nav li a:focus, nav#mobile-nav li a:hover {
			text-decoration: underline
	}
	nav#mobile-nav li.active.parent>a {
			background: url("/contentAsset/raw-data/56dbe40f-a1c8-49e4-8db7-01647101cac6/fileAsset") right center no-repeat;
			background-size: .75em .75em
	}
	nav#mobile-nav ul ul {
			border-top: 0.063em solid #000
	}
	nav#mobile-nav ul ul {
			border-top: 0.063em solid #000
	}
	nav#mobile-nav li.level_1:first-child {
			border-top: 1px solid #666
	}
	nav#mobile-nav li.level_1 a {
			padding-left: 1em;
			margin-right: .9375em
	}
	nav#mobile-nav li.level_2 {
			background-color: #404041;
			border-top: 1px dotted #666
	}
	nav#mobile-nav li.level_2:first-child {
			border-top: none
	}
	nav#mobile-nav li.level_2 a {
			border-left: 6px solid #6d6e70
	}
	nav#mobile-nav li.level_3 {
			border-top: 1px dotted #000;
			background-color: #e6e7e8
	}
	nav#mobile-nav li.level_3:first-child {
			border-top: none
	}
	nav#mobile-nav li.level_3 a {
			color: #000;
			border-left: 6px solid #a7a9ab;
			text-decoration: none;
			background-size: .75em .75em
	}
	nav#mobile-nav li.level_3 a:hover, nav#mobile-nav li.level_3 a:focus, nav#mobile-nav li.level_3.active a {
			text-decoration: underline
	}
	nav#mobile-nav:target {
			display: block;
			transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
			right:0;
			width: 15em;
			padding: 0;
			overflow-y: visible;
			z-index: 500
	}
	nav#mobile-nav form {
			background: none repeat scroll 0 0 #FFFFFF;
			border: 1px solid #999999;
			border-radius: 3px;
			height: 28px;
			margin-bottom: 12px;
			margin: 1em;
			overflow: hidden
	}
	nav#mobile-nav form input[type=text] {
			border: none;
			width: 10.5em;
			padding-left: .25em;
			margin-top: .125em;
			color: #000
	}
	nav#mobile-nav form input[type=submit] {
			background: url("/contentAsset/raw-data/950033fb-f462-4e5c-8f70-703bcd8d6cda/fileAsset/") no-repeat scroll center center #fff;
			border: 0 none;
			border-radius: 0 3px 3px 0;
			cursor: pointer;
			float: right;
			height: 28px;
			margin: 0 auto;
			outline: 0 none;
			text-indent: -9999px;
			text-transform: capitalize;
			width: 2em
	}
	nav#mobile-nav form input[type=submit]:hover, nav#mobile-nav form input[type=submit]:focus {
			box-shadow: inset 0 0px 60px rgba(0, 0, 0, 0.3)
	}
	html.no-svg nav#mobile-nav form input[type=submit] {
			background: url("/contentAsset/raw-data/6e013273-ffe3-48af-b856-dc4d45e81596/fileAsset/") no-repeat scroll center center #fff
	}
	nav#mobile-nav:target+#wrap {
			position: fixed;
			left: -15em;
			overflow-x: hidden;
			overflow-y: visible
	}
	nav#mobile-nav:target~a#nav-button.nav-button {
			position: absolute;
			top: -500em !important
	}
	nav#mobile-nav:target+#dark-cover {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 200;
			background-color: rgba(0, 0, 0, 0.7);
			transition: background-color 150ms ease;
	}
	nav#mobile-nav:target+#dark-cover+#outer-wrap {
			overflow: hidden
	}
	nav#mobile-nav li.active.parent > a,
	nav#mobile-nav li.parent > a{
		background: none;
	}
	#nav-menu-mobile svg:hover{
	cursor: pointer;
	}
	svg.click{
		width: 2.75em;
	height: 2.75em;
	padding: 1em;
	display: inline-block;
	float: right;
	position: relative;
	top: -3em;
	right: 0;
	}
	nav#mobile-nav li.level_1 > a{
		padding-right: 2.5em;
	}
	nav {
		text-transform: capitalize!important;
	}
	ul#nav-local-mobile {
		width:100%;
	}
	ul#nav-menu-mobile {
		display: none;
	}
	.hideNav {
		display: none;
	}
	.showNav {
		display: inline!important;
	}
	.seperator {
		border-bottom-width:3px;
		a {
			padding-left:.6em;
		}
	}
}

@media only screen and (min-width: 64.063em) {
    #nav-button-container, p#nav-button, #dark-cover, nav#mobile-nav, ul#mobile-nav {
        display: none !important
    }
}

@media only screen and (max-width: 340px) {
	p#nav-button a {
			display: block;
			height: 30px;
			width: 4.5em;
			position: absolute;
			top:0;
			right: 0;
	}
	p#nav-button a svg {
			height: 2em;
			width: 4.5em;
			margin-top: 0
	}
}

// hide all svg text
svg text {
	display: none!important;
}

// default person svg
svg.default-person {
	width:150px;
	height:200px;
}
.acls-1{opacity:.5}
.acls-2{fill:#535054}

a[href$=".pdf"]:after, a[href$=".PDF"]:after {
		content: " (pdf)"
}

a[href$=".pdf"], a[href$=".PDF"] {
		background: url("/contentAsset/raw-data/726d7ad0-d970-4a6b-a6f4-bd62cc8724cc/fileAsset/") scroll no-repeat 0 0 transparent;
		color: #d60000;
		padding-left: 18px
}

a[href$=".doc"]:after, a[href$=".DOC"]:after {
    content: " (doc)"
}

a[href$=".docx"]:after, a[href$=".DOCX"]:after {
    content: " (docx)"
}

a[href$=".xls"]:after, a[href$=".XLS"]:after {
    content: " (xls)"
}

a[href$=".xlsx"]:after, a[href$=".XLSX"]:after {
    content: " (xlsx)"
}

a[href$=".xlsm"]:after, a[href$=".XLSM"]:after {
    content: " (xlsm)"
}

a[href$=".ppt"]:after, a[href$=".PPT"]:after {
    content: " (ppt)"
}

a[href$=".pps"]:after, a[href$=".PPS"]:after {
    content: " (pps)"
}

a[href$=".pptx"]:after, a[href$=".PPTX"]:after {
    content: " (pptx)"
}

a[href$=".ppsx"]:after, a[href$=".PPSX"]:after {
    content: " (ppsx)"
}

a[href$=".accdb"]:after, a[href$=".ACCDB"]:after {
    content: " (accdb)"
}

a[href$=".mdb"]:after, a[href$=".MDB"]:after {
    content: " (mdb)"
}


a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"] {
    background: url("/contentAsset/raw-data/1333e32b-36f4-4614-b776-c675bff2856b/fileAsset/") scroll no-repeat 0 0 transparent;
    color: #0b3ca7!important;
    padding-left: 18px
}

a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a[href$=".xlsm"], a[href$=".XLSM"] {
    background: url("/contentAsset/raw-data/3b7f88e9-6ea3-4939-8111-9d371e06d739/fileAsset/") scroll no-repeat 0 0 transparent;
    color: #185c3b!important;
    padding-left: 18px
}

a[href$=".ppt"], a[href$=".pps"], a[href$=".pptx"], a[href$=".ppsx"], a[href$=".PPT"], a[href$=".PPS"], a[href$=".PPTX"], a[href$=".PPSX"] {
    background: url("/contentAsset/raw-data/26050e1a-12bb-4b87-af47-ea4d37cd0635/fileAsset/") scroll no-repeat 0 0 transparent;
    color: #ad5101!important;
    padding-left: 18px
}

a[href$=".accdb"], a[href$=".mdb"], a[href$=".ACCDB"], a[href$=".MDB"] {
    background: url("/contentAsset/raw-data/79b8d3ab-f679-4d20-8a9c-7474e04f98ab/fileAsset/") scroll no-repeat 0 0 transparent;
    color: #a40042!important;
    padding-left: 18px
}



.btn-grn-grad {
  font-size:1.1em;
  font-weight:bold;
  text-align: center;
  margin:1em 0;
  padding:.6em 3em !important;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#fff !important;
  background: #006738 !important; /* Old browsers */
  background: -moz-linear-gradient(top,  #006738 0%, #005133 91%, #003a1f 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #006738 0%,#005133 91%,#003a1f 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #006738 0%,#005133 91%,#003a1f 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006738', endColorstr='#003a1f',GradientType=0 ) !important; /* IE6-9 */
}

a.btn-grn-grad:after {
  content: none;
}

.btn-grn-grad:hover, .btn-grn-grad:active, .btn-grn-grad:focus {
  background: #006738 !important; /* Old browsers */
  background: -moz-linear-gradient(top,  #003a1f 0%, #005133 91%, #006738 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #003a1f 0%,#005133 91%,#006738 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #003a1f 0%,#005133 91%,#006738 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a1f', endColorstr='#006738',GradientType=0 ) !important; /* IE6-9 */
}

/* ========== CABS redesign            ================= */
/* Cabs Header ===================== */

header {
  margin-bottom:20px;
  &.site-folder {
    margin-bottom:0!important;
  }
  #menu-hamburger path {
    fill: #fff;
  }
  #menu-hamburger rect {
    stroke: #fff;
  }
  &#cabs {
    // global
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    #cabs-header-wrap {
      div.row {
        position: relative;
        a#msuedu {
          margin:15px 0 10px;
          display:inline-block;
          max-width: 70%;
          svg.masthead {
            height: 2.125em;
            text-indent: -999em;
            // width: 100%;
          }
        }
      }
      #search-medium {
        top: 15px;
        position: absolute;
        right: 25px;
        form {
          width:300px;
          input {
            padding: 9px 12px;
                border-radius: 5px 0 0 5px;
                width: 85%;
                font-size: 14px;
                border: 0;
                color: #000;
          }
          input.hide {
            display:none;
          }
          input#searchbutton {
            background: url("/contentAsset/raw-data/950033fb-f462-4e5c-8f70-703bcd8d6cda/fileAsset/") no-repeat scroll center center #fff;
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                float: right;
                margin: 0 auto;
                outline: 0 none;
                text-indent: -9999px;
                text-transform: capitalize;
                width: 15%;
                padding: 9px 0;
          }
        }
      }
      a.site-title {
        color:#fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 400;
        span {
          font-weight: 900;
          font-size: 1.5em;
          &:before {
            content: ' ';
            display: block;
          }
        }
      }
      #site-title {
        margin-bottom:25px;
      }
    }
    // site no banner
    &.no-banner {
      svg, #msu-masthead-icon, #msu-masthead-icon path, #msu-masthead-icon rect {
        fill: #fff;
      }
      background-color: #005a39;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
      background-image: -webkit-linear-gradient(top, #00723f, #005a39);
      background-image: -moz-linear-gradient(top, #00723f, #005a39);
      background-image: -ms-linear-gradient(top, #00723f, #005a39);
      background-image: -o-linear-gradient(top, #00723f, #005a39);
      background-image: linear-gradient(top, #00723f, #005a39);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#00723f', EndColorStr='#005a39')";
      color: #fff;
      margin: 0;
      position: relative;
      z-index: 10;
    }

    // site has banner
    &.has-banner {
      position: relative;
      height:624px;
      overflow: hidden;
      #cabs-header-wrap {
        position: relative;
        z-index: 10;
        div.row {
          height:100%;
          svg, #msu-masthead-icon, #msu-masthead-icon path, #msu-masthead-icon rect {
            fill: #fff;
          }
        }
        #nav-horz {
          width:100%;
          min-height:36px;
          background:rgba(0, 90, 57, 0.96);
          nav {
            padding:0 1em;
            a {
              display: inline-block;
              border-right: 1px solid #fff;
              padding: 2px 20px;
              margin: 8px 0;
              font-size: 18px;
              font-weight: normal;
              text-transform: lowercase;
              color: #fff;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
              &:first-child {
                padding-left:2px;
              }
              &:last-child {
                border-right:none;
              }
            }
          }
        }
        #banner-text {
          position:relative;
          height:400px;
          overflow: hidden;
          #text {
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            text-align: center;
            width:70%;
            p {
              font-size:26px;
              color:#fff;
              font-weight:500;
              line-height: 36px;
            }
          }
        }

      }

      // -black overlay
      #banner-cover {
        top:0;
        width:100%;
        height:100%;
        background: #000;
        position: absolute;
        opacity:.6;
        z-index:1;
      }
    }
  }
}

#article-banner {
  height: 500px;
  position: relative;
  background-size: cover;
  background-position-y: center;
  .article-banner-image {
    position: relative;
    height: 500px;
    z-index: 10;
    overflow: hidden;
    div {
      color: #fff;
      position: absolute;
      bottom:10%;
      h1 {

      }
      p {

      }
    }
  }
  #article-banner-cover {
    // -black overlay
    bottom: 0;
    width: 100%;
    height: 325px;
    background: linear-gradient(0, black 20%, transparent);
    position: absolute;
    opacity: .75;
    z-index: 1;
  }
}

#footer-social {
  padding:0;
  margin:0;
  min-height:82px;
  &.fs-index {
    background:#6d6d6d;
  }
  &.fs-page {
    background:#5b998a;
  }
}

footer {
  padding:54px 0 80px 0;
  &.f-index {
    background:#fff;
    color:#000;
    a {
      color:#000;
    }
    svg, #msu-wordmark-icon path, #msu-wordmark-icon rect {
        fill: #000;
        color: #000;
    }
  }
  &.f-page {
    background:rgba(24,69,59,1);
    color:#fff;
    a {
      color:#fff;
    }
    svg, #msu-wordmark-icon path, #msu-wordmark-icon rect {
        fill: #fff;
        color: #fff;
    }
  }
  a.msu-wordmark-link {
    display: block;
    float:left;
    width:220px;
    margin:0 20px 0 0;
  }
  div.f-links {
    font-size:13px;
    line-height: 16px;
    float:left;
    .f-canr-info {
      a {
        border-right: 1px solid;
        padding-right: 5px;
      }
      a:last-child {
        border-right: 0;
      }
    }
    p:first-child {
      margin:0;
    }
    p:last-child {
      padding-top:8px;
      margin-top:8px;
      border-top:1px solid currentColor;
    }
  }
  p.timestamp {
    float:right;
    font-size:10px;
  }
}

@media screen and (max-width: 64.063em) {
  header#cabs #cabs-header-wrap #search-medium, header#msu #cabs-header-wrap #search-medium {
    display: none;
  }
  header#cabs.has-banner {
    height:550px;
    #cabs-header-wrap #banner-text {
      height:370px;
      #text {
        width:95%;
      }
    }
  }
}

header#msu.has-banner #cabs-header-wrap a.site-title {
  color: #005a39;
}

header#msu.has-banner #cabs-header-wrap {
  #cse-search-box {
    input#gse_query {
      border:1px solid #000;
      border-right:0;
    }
    input#searchbutton {
      border:1px solid #000;
      border-left:0;
    }
  }
  svg, #msu-masthead-icon, #msu-masthead-icon path, #msu-masthead-icon rect {
    fill: #005a39;
  }
}

@media screen and (max-width: 40.063em) {
  header {
  &#cabs {
  &.has-banner {
  #cabs-header-wrap {
  #banner-text {
  #text {
    top:38%;
    p {
      font-size:18px;
      line-height: 25px;
    }
  }}}}}}
  ul#social li {
    margin:.6em .5em;
  }
  footer {
    a.msu-wordmark-link {
      display: block;
      width: 100%;
      margin: 0 20px 20px 0;
    }
    div.f-links {
      font-size: 13px;
      line-height: 16px;
      float: left;
      text-align: center;
    }
    div.f-links .f-canr-info a {
      border-right: 1px solid;
      padding: 0 15px;
      display: inline-block;
      margin: 10px 0;
    }
    div.f-links p:last-child {
      padding-top: 20px;
      margin-top: 8px;
      border-top: 1px solid currentColor;
    }
    p.timestamp {
      text-align: center;
      float:none;
    }
  }
}

@media screen and (max-width:450px) {
  header#cabs #cabs-header-wrap div.row a#msuedu svg.masthead { width: 100%; float: left; }
  header#msu #cabs-header-wrap div.row a#msuedu svg.masthead { width: 100%; float: left; }
}

@media only screen {
  header#msu {
      background-color: #005a39;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
      background-image: -webkit-linear-gradient(top, #00723f, #005a39);
      background-image: -moz-linear-gradient(top, #00723f, #005a39);
      background-image: -ms-linear-gradient(top, #00723f, #005a39);
      background-image: -o-linear-gradient(top, #00723f, #005a39);
      background-image: linear-gradient(top, #00723f, #005a39);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#00723f', EndColorStr='#005a39')";
      color: #fff;
      margin: 0;
      padding: 0 0 1em;
      position: relative;
      z-index: 10
  }
    header#msu.home {
        background-image: none!important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff !important', EndColorStr='#ffffff !important')";
        background-color: #fff;
        color: #005a39;
    }
    header#msu {
      // global
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      #cabs-header-wrap {
        div.row {
          position: relative;
          padding: 0 1em;
          height: 100%;
          a#msuedu {
            margin:15px 0 10px;
            display:inline-block;
            max-width: 70%;
            svg.masthead {
              height: 2.125em;
              text-indent: -999em;
              // width: 100%;
            }
          }
        }
        #search-medium {
          top: 15px;
          position: absolute;
          right: 25px;
          form {
            width:300px;
            input {
              padding: 9px 12px;
                  border-radius: 5px 0 0 5px;
                  width: 85%;
                  font-size: 14px;
                  border: 0;
                  color: #000;
            }
            input.hide {
              display:none;
            }
            input#searchbutton {
              background: url("/contentAsset/raw-data/950033fb-f462-4e5c-8f70-703bcd8d6cda/fileAsset/") no-repeat scroll center center #fff;
                  border: none;
                  border-radius: 0 5px 5px 0;
                  cursor: pointer;
                  float: right;
                  margin: 0 auto;
                  outline: 0 none;
                  text-indent: -9999px;
                  text-transform: capitalize;
                  width: 15%;
                  padding: 9px 0;
            }
          }
        }
        a.site-title {
          color:#fff;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.2em;
          font-weight: 400;
          span {
            font-weight: 900;
            font-size: 1.5em;
            &:before {
              content: ' ';
              display: block;
            }
          }
        }
        #site-title {
          margin-bottom:25px;
        }
      }
      // standard page
      &.page {
        background-color: #005a39;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
        background-image: -webkit-linear-gradient(top, #00723f, #005a39);
        background-image: -moz-linear-gradient(top, #00723f, #005a39);
        background-image: -ms-linear-gradient(top, #00723f, #005a39);
        background-image: -o-linear-gradient(top, #00723f, #005a39);
        background-image: linear-gradient(top, #00723f, #005a39);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#00723f', EndColorStr='#005a39')";
        color: #fff;
        margin: 0;
        position: relative;
        z-index: 10;
        div.row {
          padding: 0 25px;
        }
      }
      // site no banner
      &.no-banner {
        svg, #msu-masthead-icon, #msu-masthead-icon path, #msu-masthead-icon rect {
          fill: #fff;
        }
      }
    }
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin:1em 0;
  font-size: 14px; line-height: 17px;
  li {
    display: inline-block;
    &:after {
      content: " > ";
    }
    &:last-child {
      font-weight: 700;
      a { color: #18453b; }
      &:after {
        content: "";
      }
    }
    a {
      color: #535054;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// FOR PEOPLE TEMPLATE
.accordian__panel {
  // remove styles for people list
  .related-list {
    margin-top:0;
    padding-top:0;
    border:none;
    li {
      border:none;
    }
  }
}

@import "accordian"
