a[href$=".pdf"]:after, a[href$=".PDF"]:after {
  content: " (pdf)";
}

a[href$=".doc"]:after, a[href$=".DOC"]:after {
  content: " (doc)";
}

a[href$=".docx"]:after, a[href$=".DOCX"]:after {
  content: " (docx)";
}

a[href$=".xls"]:after, a[href$=".XLS"]:after {
  content: " (xls)";
}

a[href$=".xlsx"]:after, a[href$=".XLSX"]:after {
  content: " (xlsx)";
}

a[href$=".xlsm"]:after, a[href$=".XLSM"]:after {
  content: " (xlsm)";
}

a[href$=".ppt"]:after, a[href$=".PPT"]:after {
  content: " (ppt)";
}

a[href$=".pps"]:after, a[href$=".PPS"]:after {
  content: " (pps)";
}

a[href$=".pptx"]:after, a[href$=".PPTX"]:after {
  content: " (pptx)";
}

a[href$=".ppsx"]:after, a[href$=".PPSX"]:after {
  content: " (ppsx)";
}

a[href$=".accdb"]:after, a[href$=".ACCDB"]:after {
  content: " (accdb)";
}

a[href$=".mdb"]:after, a[href$=".MDB"]:after {
  content: " (mdb)";
}

a[href$=".pdf"], a[href$=".PDF"] {
  background: url("/contentAsset/raw-data/726d7ad0-d970-4a6b-a6f4-bd62cc8724cc/fileAsset/") scroll no-repeat 0 0 transparent;
  color: #d60000;
  padding-left: 18px;
}

a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"] {
  background: url("/contentAsset/raw-data/1333e32b-36f4-4614-b776-c675bff2856b/fileAsset/") scroll no-repeat 0 0 transparent;
  color: #0b3ca7 !important;
  padding-left: 18px;
}

a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a[href$=".xlsm"], a[href$=".XLSM"] {
  background: url("/contentAsset/raw-data/3b7f88e9-6ea3-4939-8111-9d371e06d739/fileAsset/") scroll no-repeat 0 0 transparent;
  color: #185c3b !important;
  padding-left: 18px;
}

a[href$=".ppt"], a[href$=".pps"], a[href$=".pptx"], a[href$=".ppsx"], a[href$=".PPT"], a[href$=".PPS"], a[href$=".PPTX"], a[href$=".PPSX"] {
  background: url("/contentAsset/raw-data/26050e1a-12bb-4b87-af47-ea4d37cd0635/fileAsset/") scroll no-repeat 0 0 transparent;
  color: #ad5101 !important;
  padding-left: 18px;
}

a[href$=".accdb"], a[href$=".mdb"], a[href$=".ACCDB"], a[href$=".MDB"] {
  background: url("/contentAsset/raw-data/79b8d3ab-f679-4d20-8a9c-7474e04f98ab/fileAsset/") scroll no-repeat 0 0 transparent;
  color: #a40042 !important;
  padding-left: 18px;
}
