@charset "utf-8";

/* sitewide formatting */
body, div, img, form, fieldset, legend, label, blockquote, pre, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
img { border: none; }

/* positioning */
.centered { text-align: center; }
.clearfix { clear: both; }
.left { float: left; }
.right { float: right; }
.hidden { position: absolute; left: -100em; top: auto; width: 0.0625em; height: 0.0625em; overflow:hidden; }

/* text styles */
b, strong, .bold { font-weight: bold; }
i, em, .italic { font-style: italic; }
.underline { text-decoration: underline; }
.strikethrough { text-decoration: line-through; }
.error { color: #f00; font-weight: bold; }

/* external link */
a.external_link {
	background: url(/images/sitewide/external-link-icon.png) 100% 50% no-repeat !important;
	display: inline !important;
	padding-right: 15px !important;
}

/* text after document links */
a[href$=".pdf"]:after, a[href$=".PDF"]:after { content: " (pdf)"; }
a[href$=".psd"]:after, a[href$=".PSD"]:after { content: " (psd)"; }
a[href$=".ai"]:after, a[href$=".AI"]:after { content: " (ai)"; }
a[href$=".indd"]:after, a[href$=".INDD"]:after { content: " (indd)"; }
a[href$=".swf"]:after, a[href$=".SWF"]:after { content: " (swf)"; }
a[href$=".doc"]:after, a[href$=".DOC"]:after { content: " (doc)"; }
a[href$=".docx"]:after, a[href$=".DOCX"]:after { content: " (docx)"; }
a[href$=".xls"]:after, a[href$=".XLS"]:after { content: " (xls)"; }
a[href$=".xlsx"]:after,a[href$=".XLSX"]:after { content: " (xlsx)"; }
a[href$=".xlsm"]:after,a[href$=".XLSM"]:after { content: " (xlsm)"; }
a[href$=".ppt"]:after, a[href$=".PPT"]:after { content: " (ppt)"; }
a[href$=".pps"]:after, a[href$=".PPS"]:after { content: " (pps)"; }
a[href$=".pptx"]:after, a[href$=".PPTX"]:after { content: " (pptx)"; }
a[href$=".ppsx"]:after, a[href$=".PPSX"]:after { content: " (ppsx)"; }
a[href$=".accdb"]:after, a[href$=".ACCDB"]:after { content: " (accdb)"; }
a[href$=".mdb"]:after, a[href$=".MDB"]:after { content: " (mdb)"; }

/* document link styles */
a[href$=".pdf"], a[href$=".PDF"] { 
	background: url(/images/sitewide/file_extensions/pdf.png) scroll no-repeat 0 0 transparent;
	color: #d60000 !important; 
	padding-left: 18px;
}
a[href$=".psd"], a[href$=".PSD"] { 
	background: url(/images/sitewide/file_extensions/psd.png) scroll no-repeat 0 0 transparent;
	color: #004084 !important; 
	padding-left: 18px;
}
a[href$=".ai"], a[href$=".AI"] { 
	background: url(/images/sitewide/file_extensions/ai.png) scroll no-repeat 0 0 transparent;
	color: #da5b00 !important; 
	padding-left: 18px;
}
a[href$=".indd"], a[href$=".INDD"] { 
	background: url(/images/sitewide/file_extensions/indd.png) scroll no-repeat 0 0 transparent;
	color: #7d164d !important; 
	padding-left: 18px;
}
a[href$=".swf"], a[href$=".SWF"] { 
	background: url(/images/sitewide/file_extensions/swf.png) scroll no-repeat 0 0 transparent;
	color: #d60000 !important; 
	padding-left: 18px;
}
a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"] { 
	background: url(/images/sitewide/file_extensions/doc.png) scroll no-repeat 0 0 transparent;
	color: #0b3ca7 !important; 
	padding-left: 18px;
}
a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a[href$=".xlsm"], a[href$=".XLSM"] { 
	background: url(/images/sitewide/file_extensions/xls.png) scroll no-repeat 0 0 transparent;
	color: #185c3b !important; 
	padding-left: 18px;
}
a[href$=".ppt"], a[href$=".pps"], a[href$=".pptx"], a[href$=".ppsx"],
a[href$=".PPT"], a[href$=".PPS"], a[href$=".PPTX"], a[href$=".PPSX"] { 
	background: url(/images/sitewide/file_extensions/ppt.png) scroll no-repeat 0 0 transparent;
	color: #AD5101 !important; 
	padding-left: 18px;
}
a[href$=".accdb"], a[href$=".mdb"],
a[href$=".ACCDB"], a[href$=".MDB"] { 
	background: url(/images/sitewide/file_extensions/accdb.png) scroll no-repeat 0 0 transparent;
	color: #a40042 !important;
	padding-left: 18px;
}

/* float container */
div.floatbox {
	height: 1%;
	position: relative;
	overflow: auto;
}

/* specific elements */

p#content_link { margin: 0; padding: 0; position: absolute; top: 0; left: 0; }

div#cse { overflow: hidden; }

div#page .cse .gsc-control-cse, 
div#page .gsc-control-cse,
div#page .cse .gsc-webResult.gsc-result, 
div#page .gsc-webResult.gsc-result, 
div#page .gsc-imageResult-column, 
div#page .gsc-imageResult-classic,
div#page .gsc-webResult .gsc-result { background: none; border: none; }
div#content a.gcsc-branding-clickable,
div#content a.gcsc-branding-clickable:hover,
div#content a.gs-title { border: none; }

acronym, abbr { cursor: help }

label[for="gse_query"] {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
}